@import 'fonts.scss';
@import 'variables.scss';
@import 'designer.scss';


/*Reset
===============*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: $ffsf;
	line-height: 1;
	font-size: 16px;
	color: $bl;
	background-color: $lgray;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body.hidden {
	overflow: hidden;
}

.wrapper {
	overflow: hidden;
	background: $lgray;
}

.burger {
	margin-left: 15px;
	width: 20px;
	height: 14px;
	cursor: pointer;
	position: relative;
	z-index: 100;
	display: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
	&__item {
		display: block;
		width: 100%;
		height: 2px;
		background: linear-gradient(93.26deg, #929EFF -0.54%, #EF24FF 96.74%);
		transition: background .3s linear;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		&:before,
		&:after {
		content: "";
		width: 100%;
		height: 2px;
		background: linear-gradient(93.26deg, #929EFF -0.54%, #EF24FF 96.74%);
		position: absolute;
		left: 0;
		z-index: 1;
		transition: transform .3s linear;
		}
		&:before {
			top: -7px;
		}
		&:after {
			top: 7px;
			width: 100%;
		}
	}
	&.active {
		.burger__item {
			background: none;
		}
		.burger__item:before {
			transform-origin: left top;
			transform: rotate(45deg) translateX(0px);
		}
		.burger__item:after {
			transform-origin: left bottom;
			transform: rotate(-45deg) translateX(0px);
			width: 100%;
		}
	}
}

.main-fullpage {
	flex: 1 1 auto;
}


/*=============dashboard========*/
.dashboard {
	min-height: 100vh;
	display: flex;
	background: linear-gradient(82.58deg, rgba(82, 241, 255, 0.03) -12.33%, rgba(255, 14, 255, 0.03) 112.14%);
	&_wh {
		background: $wh;
	}
	&-sidebar {
		&.hide {
			display: none;
		}
	}
	&-menu {
		width: 15.5%;
		flex: 0 0 15.5%;
		padding: 40px 0 50px;
		background-color: $wh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-right: 1px solid #D8D8D8;
		&__logo {
			margin-bottom: 45px;
			display: inline-block;
			padding-left: 26px;
			img {
				width: 100px;
			}
		}
		&__title {
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 600;
			color: #7F7F7F;
			line-height: $lh;
			margin-bottom: 10px;
			padding-left: 26px;
			text-transform: uppercase;
		}
		&__head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-right: 18px;
			>* {
				margin-right: 15px;
				margin-bottom: 10px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		&__add {
			svg {
				width: 20px;
				height: 20px;
				fill: none;
				stroke: $purple;
			}
		}
		&__link {
			display: flex;
			align-items: center;
			padding: 10px 10px 10px 36px;
			position: relative;
			z-index: 1;
			transition: all .2s linear;
			text-transform: capitalize;
			&:before {
				content: "";
				width: 3px;
				height: 100%;
				background-color: rgba(255, 15, 255, 0.48);
				border-radius: 0px 4px 4px 0px;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				opacity: 0;
				transition: all .2s linear;
			}
			&:after {
				content: "";
				width: 0px;
				height: 100%;
				background-color: rgba(255, 15, 255, 0.1);
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				opacity: 0;
				transition: all .3s linear;
			}
			svg {
				width: 24px;
				height: 24px;
				fill: none;
				stroke: #7F7F7F;
				transition: all .2s linear;
				margin-right: 10px;
			}
			span {
				font-family: $ffsf;
				font-size: 16px;
				font-weight: 500;
				color: #333;
				line-height: $lh;
			}
			&:hover {
				&:before {
					opacity: 1;
				}
				&:after {
					width: 100%;
					opacity: 1;
				}
				svg {
					stroke: #FF0FFF;
				}
			}
			&.active {
				svg {
					stroke: #FF0FFF;
				}
			}
			&:first-child {
				&:before {
					background-color: rgba(255, 15, 255, 0.48);
				}
				&:after {
					background-color: rgba(255, 15, 255, 0.1);
				}
				&:hover {
					svg {
						stroke: #FF0FFF;
					}
				}
				&.active {
					svg {
						stroke: #FF0FFF;
					}
				}
			}
			&:nth-child(2) {
				&:before {
					background-color: rgba(229, 33, 251, 0.48);
				}
				&:after {
					background-color: rgba(229, 33, 251, 0.1);
				}
				&:hover {
					svg {
						stroke: #E521FB;
					}
				}
				&.active {
					svg {
						stroke: #E521FB;
					}
				}
			}
			&:nth-child(3) {
				&:before {
					background-color: rgba(206, 51, 247, 0.48);
				}
				&:after {
					background: rgba(206, 51, 247, 0.1);
				}
				&:hover {
					svg {
						stroke: #CE33F7;
					}
				}
				&.active {
					svg {
						stroke: #CE33F7;
					}
				}
			}
			&:nth-child(4) {
				&:before {
					background-color: rgba(183, 68, 243, 0.48);
				}
				&:after {
					background: rgba(183, 68, 243, 0.1);
				}
				&:hover {
					svg {
						stroke: #B744F3;
					}
				}
				&.active {
					svg {
						stroke: #B744F3;
					}
				}
			}
			&.purple {
				&.active {
					svg {
						stroke: $purple;
					}
				}
				&:after {
					background: rgba(151, 71, 255, 0.1);
				}
				&:before {
					background-color: rgba(151, 71, 255, 0.48);
				}
			}
			&.red {
				&.active {
					svg {
						stroke: #E74C3C;
					}
				}
				&:after {
					background: rgba(231, 76, 60, 0.1);
				}
				&:before {
					background-color: rgba(231, 76, 60, 0.48);
				}
			}
		}
		&__block {
			margin-bottom: 30px;
			&.purple {
				.dashboard-menu__link {
					&:first-child {
						&:before {
							background-color: rgba(158, 86, 239, 0.48);
						}
						&:after {
							background-color: rgba(158, 86, 239, 0.1);
						}
						&:hover {
							svg {
								stroke: #9E56EF;
							}
						}
						&.active {
							svg {
								stroke: #9E56EF;
							}
						}
					}
					&:nth-child(2) {
						&:before {
							background-color: rgba(133, 105, 235, 0.48);
						}
						&:after {
							background-color: rgba(133, 105, 235, 0.1);
						}
						&:hover {
							svg {
								stroke: #8569EB;
							}
						}
						&.active {
							svg {
								stroke: #8569EB;
							}
						}
					}
				}
			}
			&.blue {
				.dashboard-menu__link {
					&:first-child {
						&:before {
							background-color: rgba(108, 123, 231, 0.48);
						}
						&:after {
							background-color: rgba(108, 123, 231, 0.1);
						}
						&:hover {
							svg {
								stroke: #6C7BE7;
							}
						}
						&.active {
							svg {
								stroke: #6C7BE7;
							}
						}
					}
					&:nth-child(2) {
						&:before {
							background-color: rgba(85, 140, 227, 0.48);
						}
						&:after {
							background-color: rgba(85, 140, 227, 0.1);
						}
						&:hover {
							svg {
								stroke: #558CE3;
							}
						}
						&.active {
							svg {
								stroke: #558CE3;
							}
						}
					}
					&:nth-child(3) {
						&:before {
							background-color: rgba(61, 158, 223, 0.48);
						}
						&:after {
							background-color: rgba(61, 158, 223, 0.1);
						}
						&:hover {
							svg {
								stroke: #3D9EDF;
							}
						}
						&.active {
							svg {
								stroke: #3D9EDF;
							}
						}
					}
					&:nth-child(4) {
						&:before {
							background-color: rgba(38, 175, 219, 0.48);
						}
						&:after {
							background-color: rgba(38, 175, 219, 0.1);
						}
						&:hover {
							svg {
								stroke: #26AFDB;
							}
						}
						&.active {
							svg {
								stroke: #26AFDB;
							}
						}
					}
				}
			}
			&.green {
				.dashboard-menu__link {
					&:first-child {
						&:before {
							background-color: rgba(20, 181, 198, 0.48);
						}
						&:after {
							background-color: rgba(20, 181, 198, 0.1);
						}
						&:hover {
							svg {
								stroke: #14B5C6;
							}
						}
						&.active {
							svg {
								stroke: #14B5C6;
							}
						}
					}
				}
			}
		}
		&__link-arrow {
			svg {
				&:last-child {
					width: 16px;
					height: 16px;
					margin-left: 4px;
				}
			}
			&:hover {
				svg {
					&:last-child {
						transform: rotate(45deg);
					}
				}
			}
		}
	}/*===/dashboard-menu===*/
	&-team {
		padding: 0 17px;
		position: relative;
		&__item {
			cursor: pointer;
			display: flex;
			align-items: center;
			padding: 8px;
			border-radius: 10px;
			transition: all .2s linear;
			&:hover {
				background-color: #F2F2FE;
			}
		}
		&__drop {
			cursor: pointer;
			.dashboard-team__info {
				flex: 1 1 auto;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
		&__arrows {
			display: flex;
			flex-direction: column;
			>* {
				&:nth-child(2) {
					margin-top: 5px;
					transform: rotate(180deg);
				}
			}
		}
		&__icon {
			flex: 0 0 44px;
			margin-right: 10px;
			img {
				width: 44px;
				height: 44px;
				border-radius: 10px;
			}
		}
		&__name {
			font-family: $ffsf;
			font-size: 18px;
			font-weight: 500;
			line-height: $lh;
			color: $bl;
			margin-bottom: 2px;
			text-transform: capitalize;
		}
		&__description {
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 400;
			line-height: $lh;
			color: $gray2;
			letter-spacing: 0.04em;
			text-transform: capitalize;
		}
		&__dropbox {
			display: none;
			width: 295px;
			max-height: 142px;
			overflow: auto;
			background-color: $wh;
			border: 1px solid #D8D8D8;
			border-radius: 10px;
			padding: 10px;
			position: absolute;
			right: -18px;
			top: 50%;
			z-index: 10;
			transform: translate(100%, -50%);
			&.show {
				display: block;
			}
			.dashboard-team__item {
				position: relative;
				padding-right: 36px;
				&:after {
					content: "";
					width: 24px;
					height: 24px;
					background: url("../images/dashboard/check-purple.svg") center no-repeat;
					position: absolute;
					right: 8px;
					top: 50%;
					transform: translateY(-50%);
					z-index: 1;
					opacity: 0;
				}
				&.checked {
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}/*===/dashboard-team===*/
	&-btn {
		display: inline-block;
		text-align: center;
		border-radius: 5px;
		background-color: $purple;
		padding: 10.5px 23px;
		transition: all .2s linear;
		font-family: $ffsf;
		font-size: 16px;
		font-weight: 500;
		color: $wh;
		line-height: $lh;
		&:hover {
			background-color: #7C2CE4;
		}
		&_load {
			position: relative;
			img {
				display: none;
				max-height: 55%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1;
			}
			&.active {
				span {
					opacity: 0;
				}
				img {
					display: block;
				}
			}
		}
	}/*===/dashboard-btn===*/
	&-account {
		display: flex;
		align-items: center;
		&__icon {
			img {
				width: 44px;
				height: 44px;
				border: 2px solid #EBEBEB;
				border-radius: 10px;
				object-fit: cover;
			}
		}
		&__info {
			text-align: right;
			margin-right: 10px;
		}
		&__name {
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 500;
			line-height: $lh;
			color: $bl;
			margin-bottom: 2px;
		}
		&__description {
			font-family: $ffsf;
			font-size: 14px;
			font-weight: 400;
			line-height: $lh;
			color: $gray2;
		}
	}/*===/dashboard-account===*/
	&-content {
		width: calc(100% - 295px);
		flex: 1 1 auto;
		&_full {
			display: flex;
			flex-direction: column;
		}
	}
	&-header {
		padding: 24px 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__title {
			display: flex;
			align-items: center;
			margin-right: 15px;
			img {
				width: 50px;
				height: 50px;
				border-radius: 10px;
				margin-right: 14px;
			}
			span {
				font-family: $ffsf;
				font-size: 36px;
				font-weight: 500;
				color: $bl3;
				line-height: $lh;
			}
		}
		&__menu {
			display: flex;
			justify-content: flex-end;
			flex: 1 1 auto;
			align-items: center;
			.dashboard-btn {
				margin-right: 28px;
			}
		}
		.dashboard-selectbox {
			margin-right: 10px;
		}
	}/*===/dashboard-header===*/
	&-search {
		width: 100%;
		position: relative;
		&__btn {
			display: inline-block;
			background-color: inherit;
			cursor: pointer;
			position: absolute;
			top: 50%;
			left: 25px;
			z-index: 1;
			transform: translateY(-50%);
			svg {
				width: 32px;
				height: 32px;
				fill: none;
				stroke: $bl3;
				transition: all .2s linear;
			}
			&:hover {
				svg {
					stroke: $purple;
				}
			}
		}
		input {
			border-top: 1px solid #D8D8D8;
			border-bottom: 1px solid #D8D8D8;
			padding: 20px 25px 20px 75px;
			width: 100%;
			display: block;
			background-color: inherit;
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 500;
			color: $bl3;
			line-height: $lh-big;
			&::placeholder {
				opacity: 1;
				color: $gray2;
			}
			&:focus {
				background-color: $wh;
				border-color: $purple;
			}
			&.active {
				background-color: $wh;
				border-color: $purple;
			}
		}
	}/*===/dashboard-search===*/
	&-selectbox {
		background-color: $wh;
		width: 216px;
		position: relative;
		&__select {
			padding: 8px 40px 8px 10px;
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 500;
			color: $bl3;
			cursor: pointer;
			border: 1px solid #D8D8D8;
			border-radius: 5px;
			position: relative;
			span {
				display: inline-block;
				white-space: nowrap;
				max-width: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				line-height: $lh;
			}
			&:after {
				content: "";
				width: 20px;
				height: 20px;
				background: url("../images/dashboard/caret-down.svg") center no-repeat;
				position: absolute;
				top: 50%;
				right: 10px;
				z-index: 1;
				transform: translateY(-50%);
				transition: all .3s linear;
			}
		}
		&__dropdown {
			width: 100%;
			padding: 8px 10px 10px;
			border: 1px solid #D8D8D8;
			border-top: none;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			background-color: $wh;
			position: absolute;
			top: calc(100% - 3px);
			left: 0;
			z-index: 1;
			transition: all .3s linear;
			opacity: 0;
			pointer-events: none;
		}
		&__option {
			margin-bottom: 15px;
			cursor: pointer;
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 500;
			color: $bl3;
			line-height: $lh;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&.drop {
			.dashboard-selectbox__dropdown {
				opacity: 1;
				pointer-events: auto;
			}
			.dashboard-selectbox__select {
				&:after {
					transform: translateY(-50%) rotate(180deg);
				}
			}
		}
	}/*===/dashboard-selectbox===*/
	&-block {
		&__head {
			display: flex;
			align-items: center;
			padding: 35px 25px;
		}
		&__title {
			font-family: $ffsf;
			font-size: 24px;
			font-weight: 500;
			text-transform: capitalize;
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
	}/*===/dashboard-block===*/
	&-table {
		&-load {
			visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 100;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.01);
			backdrop-filter: blur(7px);
			&__icon {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 88px;
				height: 88px;
				background: #F9F9F9;
				box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 0px 96px rgba(0, 0, 0, 0.16);
				backdrop-filter: blur(43.4925px);
				border-radius: 10px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1;
			}
			&__loader {
				width: 44px;
				height: 44px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1;
			}
			&.show {
				visibility: visible;
			}
		}
		&__row {
			display: flex;
			padding: 15px 28px;
			border-top: 1px solid #D8D8D8;
			border-bottom: 1px solid #D8D8D8;
		}
		&__header {
			padding-top: 0;
			border-top: none;
		}
		&__col {
			flex:  1 1 16.66666%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
			&:nth-child(2), &:nth-child(3) {
				flex: 1 1 19%;
			}
			&:nth-child(4) {
				flex: 1 1 24%;
			}
		}
		&__title {
			font-family: $ffsf;
			font-size: 14px;
			font-weight: 500;
			color: $gray2;
			line-height: $lh;
			font-variant: small-caps;
		}
		&__content {
			position: relative;
			.dashboard-table__row {
				cursor: pointer;
				transition: all .2s linear;
				margin-top: -1px;
				position: relative;
				z-index: 1;
				&:hover {
					background-color: #F7F2FF;
					border-color: #C8ABEF;
					z-index: 2;
				}
			}			
			.dashboard-table__title {
				display: none;
			}
		}
		&__info {
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 500;
			color: $bl3;
			text-transform: capitalize;
			line-height: $lh;
			&_flex {
				display: flex;
				align-items: center;
				>* {
					margin-right: 9px;
					&:last-child {
						margin-right: 0;
					}
				}
			}
			span {
				&:nth-child(2) {
					color: $gray2;
				}
			}
		}
	}/*===/dashboard-table===*/
	&__labels {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -10px;
		>* {
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}
	&-tag {
		display: inline-block;
		padding: 7px 10px;
		border-radius: 5px;
		background-color: rgba(52, 73, 94, 0.1);
		font-family: $ffsf;
		font-size: 16px;
		font-weight: 500;
		color: #34495E;
		line-height: $lh;
		text-align: center;
		&.blue {
			background-color: rgba(61, 158, 223, 0.1);
			color: #3D9EDF;
		}
		&.green {
			background-color: rgba(39, 174, 96, 0.1);
			color: #27AE60;
		}
		&.purple {
			background-color: rgba(151, 71, 255, 0.1);
			color: $purple;
		}
		&.orange {
			background-color: rgba(230, 126, 34, 0.1);
			color: #E67E22;
		}
		&.red {
			background-color: rgba(192, 57, 43, 0.1);
			color: #C0392B;
		}
		&.scarlet {
			background-color: rgba(231, 76, 60, 0.1);
			color: #E74C3C;
		}
	}/*===/dashboard-tag===*/
	&-pagin {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0 25px;
		margin-top: 30px;
		margin-bottom: 20px;
		&__link {
			display: inline-block;
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #D8D8D8;
			border-radius: 5px;
			background-color: $wh;
			font-family: $ffsf;
			font-size: 14px;
			font-weight: 500;
			color: $bl3;
			transition: all .2s linear;
			margin-right: 10px;
			margin-bottom: 10px;
			&:last-child {
				margin-right: 0;
			}
			&_next {
				svg {
					transform: rotate(180deg);
				}
			}
			svg {
				width: 7px;
				height: 12px;
				fill: none;
				stroke: $bl3;
				transition: all .2s linear;
			}
			&:hover {
				color: $purple;
				svg {
					stroke: $purple;
				}
			}
			&.active {
				color: $purple;
				border-color: $purple;
				svg {
					stroke: $purple;
				}
			}
			&.disabled {
				background-color: #FAFAFC;
				color: $bl3;
				svg {
					stroke: $bl3;
				}
			}
		}
	}/*===/dashboard-pagin===*/
}
/*=============/dashboard========*/

/*============Filters===========*/
.filters {
	padding: 16px 25px;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -10px;
	&__item {
		margin-right: 20px;
		margin-bottom: 10px;
		&:last-child {
			margin-right: 0;
		}
		&_center {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
		&_big {
			width: 246px;
		}
		&_auto {
			flex: 1 1 auto;
		}
	}
	&__description {
		display: block;
		font-family: $ffsf;
		font-size: 14px;
		font-weight: 500;
		color: $bl3;
		line-height: $lh;
		text-transform: lowercase;
		font-variant: small-caps;
		margin-bottom: 10px;
		transition: all .2s linear;
		&.active {
			color: #9747FF;
			font-weight: 600;
		}
	}
	&-date {
		display: block;
		&__input {
			display: block;
			padding: 10px;
			border: 1px solid #D8D8D8;
			border-radius: 5px;
			background-color: $wh;
			transition: all .2s linear;
			>* {
				font-family: $ffsf;
				font-size: 16px;
				font-weight: 400;
				color: $gray2;
				line-height: $lh;
				&:first-child {
					margin-right: 10px;
				}
			}
		}
		&:hover {
			.filters-date__input {
				background-color: #FBF8FF;
				border: 1px solid #D6B7FF;
			}
		}
		&.filled {
			.filters__description {
				color: #9747FF;
				font-weight: 600;
			}
			.filters-date__input {
				background-color: #F5EDFF;
				border: 1px solid #9747FF;
				>* {
					font-weight: 500;
					&:first-child {
						color: $bl3;
					}
					&:nth-child(2) {
						color: #9747FF;
					}
				}
			}
		}
	}
	&__input {
		position: relative;
		padding-top: 26.8px;
		label {
			white-space: nowrap;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
		input {
			width: 100%;
			min-width: 212px;
			background-color: $wh;
			padding: 10px;
			border: 1px solid #D8D8D8;
			border-radius: 5px;
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 400;
			color: $black;
			line-height: $lh;
			transition: all .2s linear;
			&::placeholder {
				opacity: 0.2;
			}
			&:hover {
				background-color: #FBF8FF;
				border: 1px solid #D6B7FF;
			}
			&:focus {
				background-color: #F5EDFF;
				border: 1px solid #9747FF;
			}
			&:focus + label {
				color: #9747FF;
				font-weight: 600;
			}
		}
		&.filled {
			.filters__description {
				color: #9747FF;
				font-weight: 600;
			}
			input {
				background-color: #F5EDFF;
				border: 1px solid #9747FF;
				color: $bl3;
			}
		}
	}
	&-phone {
		position: relative;
		input {
			max-width: 210px;
			padding: 10px 15px 10px 98px;
		}
		label {
			transform: translateY(-100%);
			top: -10px;
		}
		&__country {
			position: absolute;
			top: 50%;
			left: 10px;
			transform: translateY(-50%);
			z-index: 1;
			display: flex;
			align-items: center;
			img {
				width: 32px;
				border-radius: 2px;
			}
			span {
				display: inline-block;
				margin-left: 10px;
				font-family: $ffsf;
				font-size: 16px;
				font-weight: 400;
				color: $black;
				line-height: $lh;
			}
		}
	}
	&__switch {
		.filters__description {
			margin-bottom: 14px;
		}
	}
}
/*============/filters===========*/

/*===Switch====*/
.switch {
	cursor: pointer;
	position: relative;
	width: 51px;
	height: 31px;
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 50px;
		background-color: #D8D8D8;
		transition: all .3s linear;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}
	&:after {
		content: "";
		width: 27px;
		height: 27px;
		background-color: $wh;
		border-radius: 50%;
		position: absolute;
		top: 2px;
		left: 2px;
		z-index: 5;
		transition: all .3s linear;
	}
	&.active {
		&:before {
			background-color: $purple;
		}
		&:after {
			left: 22px;
		}
	}
	input {
		display: none;
	}
}
/*===/switch====*/

.refresh-btn {
	background-color: #FAFAFC;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	padding: 12px;
	display: inline-flex;
	align-items: center;
	transition: all .2s linear;
	&:hover {
		background-color: #F0F0F0;
	}
	img {
		margin-right: 7px;
	}
	span {
		font-family: $ffsf;
		font-size: 16px;
		font-weight: 400;
		color: $bl3;
		line-height: $lh;
	}
}

/*=========Broadcast==========*/
.broadcast {
	display: inline-block;
	height: 32px;
	svg {
		width: 32px;
		height: 32px;
		fill: none;
	}
	path {
    opacity: 0.3;
    &:first-child {
      opacity: 1;
    }
    &:nth-child(2), &:nth-child(3) {
      animation-name: fade;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-delay: 1s;
    }
    &:nth-child(4), &:nth-child(5) {
      animation-name: fadeTwo;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-delay: 1s;
    }
  }
}

@keyframes fade {
    0% {
       opacity: .3;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeTwo {
    0% {
       opacity: .3;
    }
    50% {
       opacity: .3;
    }
    100% {
        opacity: 1;
    }
}
/*=========/broadcast==========*/

/*===========Dialogs===========*/
.dialogs {
	border-top: 1px solid #D8D8D8;
	display: flex;
	position: relative;
	display: none;
	&.show {
		display: flex;
	}
	&-info {
		width: 23%;
		padding: 16px 25px 20px;
		border-right: 1px solid #D8D8D8;
		.filters__input {
			width: 190px;
			input {
				font-weight: 500;
				min-width: 100%;
			}
		}
		.dashboard-tag {
			font-size: 12px;
		}
		&__item {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__time {
			font-family: $ffsf;
			font-size: 32px;
			font-weight: 600;
			line-height: $lh;
			color: $bl3;
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__tags {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: -10px;
			>* {
				margin-right: 10px;
				margin-bottom: 10px;
			}
		}
	}/*===/dialogs-info===*/
	&-player {
		flex: 1 1 auto;
		max-width: 77%;
		display: flex;
		flex-direction: column;
		&__panel {
			padding: 18px 45px 18px 25px;
			border-bottom: 1px solid #D8D8D8;
		}
		&__play {
			margin-right: 32px;
			cursor: pointer;
		}
		&__line {
			width: 85%;
			margin-right: 28px;
		}
		&__control {
			display: flex;
			align-items: center;
			max-width: 886px;
			margin: 0 auto;
		}
		&__messages {
			padding: 40px 25px 20px;
			background: linear-gradient(82.58deg, rgba(82, 241, 255, 0.03) -12.33%, rgba(255, 14, 255, 0.03) 112.14%);
			flex: 1 1 auto;
		}
		&__message {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			>* {
				display: inline-block;
				background-color: $wh;
				border: 1px solid #EBEBEB;
				max-width: 530px;
				padding: 10.5px 20px;
				font-family: $ffsf;
				font-size: 16px;
				font-weight: 400;
				color: $bl;
				line-height: $lh;
				transition: all .2s linear;
			}
			&:nth-child(odd) {
				padding-right: 25px;
				>* {
					border-radius: 10px 10px 10px 0px;
					&:hover {
						color: $wh;
						background-color: #27AE60;
					}
				}
			}
			&:nth-child(even) {
				padding-left: 25px;
				text-align: right;
				>* {
					background-color: #ECF6FC;
					border: 1px solid rgba(61, 158, 223, 0.28);
					border-radius: 10px 10px 0px 10px;
					color: #3D9EDF;
					&:hover {
						color: $wh;
						background-color: #3D9EDF;
					}
				}
			}
		}
		.dur {
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 500;
			line-height: $lh;
			color: $gray2;
			>* {
				&:nth-child(2) {
					color: #D9D9D9;
				}
			}
		}
	}/*===/dialogs-player===*/
	&-data {
		display: none;
		position: relative;
		width: 23%;
		border-left: 1px solid #D8D8D8;
		&.show {
			display: block;
		}
		&__inner {
			padding: 20px 0 20px;
			height: 100%;
			position: relative;
		}
		&__hide {
			display: inline-flex;
			width: 30px;
			height: 30px;
			background-color: $wh;
			border-radius: 50%;
			border: 1px solid #D8D8D8;
			align-items: center;
			justify-content: center;
			position: absolute;
			left: 0;
			top: 50%;
			z-index: 10;
			transform: translate(-50%, -50%);
		}
		&__title {
			font-family: $ffsf;
			font-size: 14px;
			font-weight: 500;
			text-transform: lowercase;
			font-variant: small-caps;
			color: $bl3;
			line-height: $lh;
			margin-bottom: 17px;
		}
		&__name {
			font-family: $ffsg;
			font-size: 14px;
			font-weight: 400;
			color: $bl3;
			line-height: 1.3;
			&.red {
				color: #E74C3C; 
			}
			&.blue {
				color: #3498DB; 
			}
			&.green {
				color: #27AE60; 
			}
			&.purple {
				color: $purple; 
			}
			&.orange {
				color: #E67E22; 
			}
		}
		&__info {
			font-family: $ffsg;
			font-size: 14px;
			font-weight: 400;
			color: $bl3;
			line-height: 1.3;
		}
		&__text {
			font-family: $ffsg;
			font-size: 14px;
			font-weight: 400;
			color: $bl3;
			line-height: 1.3;
		}
		&__block {
			border-bottom: 1px solid #D8D8D8;
			padding: 0 25px 20px;
			margin-bottom: 20px;
			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}
			&_scroll {
				max-height: 162px;
				overflow-y: auto;
			}
		}
	}/*===/dialogs-data===*/
	&-close {
		display: inline-block;
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 100;
		svg {
			width: 24px;
			height: 24px;
			stroke: $bl;
			transition: all .2s linear;
		}
		&:hover {
			svg {
				stroke: $purple;
			}
		}
	}
}

#waveform wave wave {
	border-right: none!important;
}

#waveform {
	>wave {
		height: 100px!important;
		margin: -35px 0 -40px;
		width: 100%;
		overflow: hidden!important;
		wave {
			width: 100%;
		}
		canvas {
			width: 100%;
		}
	}
}
/*===========/dialogs===========*/

/*========Intents===========*/
.intents {
	&__block {
		padding: 0 25px;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 60px;
		}
		.dashboard-block__title {
			margin-bottom: 30px;
		}
	}
	&__inner {
		display: flex;
		flex-wrap: wrap;
		margin-left: -20px;
		margin-bottom: -20px;
		>* {
			width: calc(33.33333% - 20px);
			margin-left: 20px;
			margin-bottom: 20px;
		}
	}
	&__box {
		background-color: $wh;
		border: 1px solid #D8D8D8;
		border-radius: 5px;
		transition: all .2s linear;
		position: relative;
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			border: 3px solid #9747FF;
			border-radius: 5px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 0;
			transition: all .2s linear;
			pointer-events: none;
		}
		&_red {
			&:after {
				opacity: 1;
				border: 3px solid #E74C3C;
				box-shadow: 0px 0px 10px rgba(231, 76, 60, 0.41);
			}
		}
		&_purple {
			&:after {
				opacity: 1;
				box-shadow: 0px 0px 10px rgba(151, 71, 255, 0.4);
			}
		}
		&_b-hover {
			&:hover {
				&:after {
					opacity: 1;
				}
			}
		}
		&.inactive {
			background-color: #F3F3F3;
			.intents__title {
				color: #878787;
			}
			.intents-item__number {
				color: #878787;
			}
			.intents-item__name {
				color: #878787;
			}
		}
	}
	&__header {
		border-bottom: 1px solid #D8D8D8;
		padding: 13px 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__content {
		padding-right: 10px;
		padding-bottom: 4px;
	}
	&__items {
		padding-right: 10px;
		height: 220px;
		overflow: auto;
	}
	&__info {
		display: flex;
		align-items: center;
	}
	&__dots {
		cursor: pointer;
		display: inline-block;
		margin: -13px 0 -15px -15px;
		padding: 13px 16.5px 15px 15px;
		svg {
			width: 12px;
			height: 20px;
			fill: $gray2;
			transition: all .2s linear;
		}
	}
	&__title {
		font-family: $ffsf;
		font-size: 20px;
		font-weight: 600;
		color: $bl3;
		line-height: $lh;
		margin-right: 10px;
	}
	&__number {
		display: inline-block;
		padding: 3px 10px;
		min-width: 36px;
		border-radius: 35px;
		background-color: $gray2;
		font-family: $ffsf;
		font-size: 12px;
		font-weight: 500;
		color: $wh;
		line-height: $lh;
		margin-top: 2px;
		&.green {
			background-color: #27AE60;
		}
		&.orange {
			background-color: #E67E22;
		}
		&.blue {
			background-color: #3498DB;
		}
	}
	&__add {
		width: 30px;
		height: 30px;
		border-radius: 3px;
		background-color: $purple;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			width: 20px;
			height: 20px;
			fill: none;
			stroke: $wh;
		}
		&_transparent {
			background-color: transparent;
			svg {
				stroke: $purple;
			}
		}
	}
	&-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8.5px 10px 8.5px 20px;
		transition: all .2s linear;
		cursor: pointer;
		&:hover {
			background-color: #F7F2FF;
			.intents-item__number {
				color: $purple;
			}
		}
		&__info {
			display: flex;
			align-items: flex-start;
			flex: 1 1 auto;
			margin-right: 20px;
		}
		&__number {
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 500;
			color: $gray2;
			line-height: $lh;
			margin-right: 20px;
		}
		&__name {
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 500;
			color: $bl3;
			line-height: $lh;
			flex: 1 1 auto;
		}
		&__input {
			flex: 1 1 auto;
			input {
				width: 100%;
				background-color: transparent;
				font-family: $ffsf;
				font-size: 16px;
				font-weight: 500;
				color: $bl3;
				line-height: $lh;
				padding-bottom: 5px;
				border-bottom: 1px solid #D8D8D8;
				border-radius: 0;
				&:focus {
					border-color: $purple;
				}
			}
		}
		&__btn {
			flex: 0 0 24px;
			svg {
				width: 24px;
				height: 24px;
				fill: none;
				stroke: $gray2;;
				transition: all .2s linear;
			}
			&:hover {
				svg {
					stroke: #E74C3C;
				}
			}
			&_add {
				&:hover {
					svg {
						stroke: $purple;
					}
				}
			}
		}
	}/*===/intents-item===*/
	&-add {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 22px 25px 15px;
		&__title {
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 600;
			color: $bl3;
			line-height: $lh;
			margin-bottom: 15px;
		}
		&__box {
			margin-bottom: 22px;
			position: relative;
			&:after {
				content: "";
				width: 11.25px;
				height: 11.25px;
				background-color: #FF6584;
				border-radius: 50%;
				position: absolute;
				top: 25.4px;
				left: 54.8px;
				z-index: 5;
			}
		}
		&__photo {
			img {
				width: 241px;
			}
		}
		&__img {
			transition: all .4s linear;
			&_top {
				position: absolute;
				top: 31px;
				left: 57.7px;
			}
			&_right {
				position: absolute;
				top: 57.5px;
				right: 5px;
			}
			&_bottom {
				position: absolute;
				top: 77px;
				left: 90px;
			}
			&_add {
				position: absolute;
				top: 100px;
				left: 84px;
			}
		}
		&:hover {
			.intents-add__img {
				&_top {
					top: 21px;
					left: 67px;
				}
				&_right {
					top: 77.5px;
					right: 5px;
				}
				&_bottom {
					top: 77px;
					left: 60px;
				}
				&_add {
					position: absolute;
					top: 54px;
					left: 111px;
				}
			}
		}
	}/*===/intents-add===*/
}
/*========/intents===========*/

/*=================Adaptive============*/
@media(max-width: 1500px) {
	.dashboard {
		&-wrapper {
			position: relative;
		}
		&-header {
			padding: 24px 15px;
			.burger {
				display: block;
				&__item {
					background: $purple;
					&:before, &:after {
						background: $purple;
					}
				}
			}
		}
		&-menu {
			width: 295px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 500;
			border-right: none;
			filter: drop-shadow(0px 4px 19px rgba(213, 213, 213, 0.25));
			transform: translateX(-100%);
			transition: all .4s linear;
			padding-bottom: 30px;
			&.show {
				transform: translateX(0);
			}
		}
		&-team {
			&__dropbox {
				position: static;
				transform: translate(0, 0);
				width: auto;
				padding: 10px 0;
			}
		}
		&-block {
			&__head {
				padding: 35px 15px;
			}
		}
		&-table {
			&__row {
				padding: 15px;
			}
			&__header {
				padding-top: 0;
			}
		}
		&-pagin {
			padding: 0 15px;
		}
		&-search {
			input {
				padding: 15px 15px 15px 65px;
			}
			&__btn {
				left: 15px;
			}
		}
	}

	.intents {
		&__block {
			padding: 0 15px;
		}
	}

	.broadcast {
		height: 25px;
		svg {
			width: 25px;
			height: 25px;
		}
	}

	.filters {
		padding: 16px 15px;
	}

	.dialogs {
		&-info {
			padding: 16px 15px 20px;
		}
		&-player {
			&__messages {
				padding: 20px 15px 20px;
			}
		}
		.filters__input {
			width: 175px;
		}
	}
}

@media(max-width: 1380px) {
	.filters {
		margin-left: -20px;
		&__item {
			width: calc(25% - 20px);
			margin-right: 0;
			margin-left: 20px;
			&_auto {
				min-width: 50%;
			}
			&_center {
				width: auto;
			}
		}
		&__switch {
			width: auto;
		}
		&-phone {
			input {
				max-width: 100%;
			}
		}
	}
}

@media(max-width: 1500px) and (min-width: 766px) {
	.dashboard {
		&-table {
			&__row {
				padding: 15px;
			}
			&__header {
				padding-top: 0;
			}
			&__title {
				font-size: 12px;
			}
			&__info {
				font-size: 12px;
			}
		}
		&-tag {
			font-size: 12px;
		}
	}
}

@media(max-width: 1100px) {
	.intents {
		&__inner {
			>* {
				width: calc(50% - 20px);
			}
		}
	}
}

@media(max-width: 992px) {
	.dashboard {
		&-selectbox {
			width: 170px;
		}
	}
	.filters {
		&__item {
			width: calc(33.33333% - 20px);
			&_center {
				width: auto;
			}
			&_auto {
				min-width: auto;
			}
		}
		&__switch {
			width: auto;
		}
	}
}

@media(max-width: 860px) {
	.dialogs {
		flex-wrap: wrap;
		&-info {
			width: 100%;
			border-bottom: 1px solid #D8D8D8;
			border-right: none;
		}
	}
}

@media(max-width: 765px) {
	.dashboard {
		&-header {
			align-items: flex-start;
			&__title {
				img {
					width: 40px;
					height: 40px;
				}
				span {
					font-size: 28px;
				}
			}
			.dashboard-btn {
				font-size: 14px;
				padding: 8px 16px;
			}
			&__menu {
				flex-wrap: wrap;
				justify-content: flex-end;
				.dashboard-btn {
					margin-right: 20px;
				}
				.burger {
					margin-left: 0;
				}
			}
		}
		&-selectbox {
			&__select {
				font-size: 14px;
				padding: 6px 35px 6px 7px;
			}
			&__option {
				font-size: 14px;
			}
		}
		&-account {
			flex: 1 1 100%;
			order: 1;
			justify-content: flex-end;
			margin-top: 20px;
			margin-left: -100px;
			&__name {
				font-size: 14px;
			}
			&__description {
				font-size: 12px;
			}
		}
		&-block {
			&__title {
				font-size: 22px;
			}
		}
		&-table {
			&__row {
				display: block;
				&.dashboard-table__header {
					display: none;
				}
				&:first-child {
					border-top: none;
				}
			}
			&__col {
				width: 100%;
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			&__content {
				.dashboard-table__title {
					display: block;
					margin-bottom: 5px;
				}
			}
		}
	}

	.intents {
		&__inner {
			margin-left: 0;
			>* {
				width: 100%;
				margin-left: 0;
			}
		}
	}

	.refresh-btn {
		img {
			width: 15px;
		}
		span {
			font-size: 14px;
		}
	}

	.filters {
		margin-left: 0;
		justify-content: flex-end;
		&__item {
			width: 100%;
			margin-left: 0;
			&_center {
				width: auto;
			}
			&_auto {
				min-width: auto;
			}
		}
		&__switch {
			width: auto;
			margin-right: 20px;
		}
	}

	.dialogs {
		&-player {
			max-width: 100%;
			width: 100%;
			&__panel {
				padding: 18px 15px;
			}
			&__play {
				margin-right: 15px;
			}
			&__line {
				margin-right: 15px;
			}
		}
		&-data {
			width: 100%;
			&__hide {
				top: 0;
				left: 50%;
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}
	}
}

@media(max-width: 546px) {
	.dashboard {
		flex-wrap: wrap;
		&-header {
			.dashboard-selectbox {
				margin-right: 0;
				margin-left: auto;
				margin-bottom: 15px;
				flex: 1 1 60%;
			}
			&__select {
				flex: 1 1 100%;
			}
		}
		&-content {
			&_full {
				width: 100%;
			}
		}
		&-sidebar {
			width: 100%;
		}
	}
}

@media(max-width: 414px) {
	.intents {
		&__content, &__items {
			padding-right: 0;
		}
		&__title {
			font-size: 18px;
		}
		&__block {
			&:last-child {
				margin-bottom: 30px;
			}
		}
	}
	.dashboard {
		&-header {
			&__title {
				span {
					font-size: 20px;
				}
			}
		}
	}
	.dialogs {
		&-player {
			.dur {
				font-size: 12px;
			}
		}
	}
}

@media(max-width: 360px) {
	.dashboard {
		&-menu {
			width: 270px;
		}
	}
	.intents {
		&__title {
			font-size: 16px;
		}
	}
}
/*=================/adaptive============*/