/*============Section===========*/
.section {
	margin-bottom: 120px;
}

.bg-grad {
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 10.04%), linear-gradient(90deg, #F7FDFF 0%, #FFF3FF 100%);
	&_reverse {
		background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 10.04%), linear-gradient(310.97deg, #F7FDFF 67.57%, #FFF3FF 91.11%);
		.advantages_half {
			.container {
				max-width: 980px;
			}
		}
	}
	&.pt-120 {
		padding-top: 120px;
	}
	.advantages-check {
		margin-bottom: 0;
		padding-bottom: 70px;
	}
	.steps {
		padding-bottom: 20px;
	}
	.features {
		padding-bottom: 40px;
	}
}

.btn-transparent {
	display: inline-block;
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 10.04%), linear-gradient(90deg, #F7FDFF 0%, #FFF3FF 100%);
	border-radius: 2px;
	padding: 12px 29px;
	font-family: $ffsf;
	font-size: 16px;
	font-weight: 600;
	line-height: $lh-big;
	position: relative;
	z-index: 2;
	@media(max-width: 1920px) {
		@include adaptiv-font(16, 14);
	}
	span {
		@include text-gradient_p;
	}
	&:before {
		content: "";
		width: calc(100% + 4px);
		height: calc(100% + 4px);
		background: linear-gradient(93.26deg, #929EFF -0.54%, #EF24FF 96.74%);
		border-radius: 2px;
		position: absolute;
		top: -2px;
		left: -2px;
		z-index: -1;
	}
	&:after {
		content: "";
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 10.04%), linear-gradient(90deg, #F7FDFF 0%, #FFF3FF 100%);
		border-radius: 2px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

.list-check {
	li {
		font-family: $ffsf;
		font-size: 18px;
		font-weight: 400;
		color: $black;
		line-height: 1.4;
		margin-bottom: 26px;
		padding-left: 47px;
		position: relative;
		@media(max-width: 1920px) {
			@include adaptiv-font(18, 14);
		}
		&:before {
			content: "";
			width: 32px;
			height: 32px;
			background: url("../images/check-circle_purple.svg") center no-repeat;
			position: absolute;
			top: -3px;
			left: 0;
			z-index: 1;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.decor-line {
	position: relative;
	z-index: 1;
	&:before {
		content: "";
		width: 149px;
		height: 147px;
		background: url("../images/decor-line.svg") center no-repeat;
		position: absolute;
		top: 29%;
		right: 0;
		transform: translateX(34%);
		z-index: -1;
	}
}

.decor-line-pink {
	position: relative;
	z-index: 1;
	&:before {
		content: "";
		width: 114px;
		height: 113px;
		background: url("../images/decor-line-pink.svg") center no-repeat;
		position: absolute;
		bottom: -5%;
		right: 0;
		transform: translateX(34%);
		z-index: -1;
	}
}

.title-medium {
	font-family: $ffsf;
	font-size: 36px;
	font-weight: 600;
	line-height: 1.2;
	color: $black;
	@media(max-width: 1920px) {
		@include adaptiv-font(36, 20);
	}
}

.title-big {
	font-family: $ffsf;
	font-size: 64px;
	font-weight: 600;
	line-height: 1.15;
	color: $black;
	@media(max-width: 1920px) {
		@include adaptiv-font(64, 24);
	}
}

.description {
	font-family: $ffsf;
	font-size: 18px;
	font-weight: 500;
	line-height: $lh-big;
	color: $lblack;
	@media(max-width: 1920px) {
		@include adaptiv-font(18, 14);
	}
	p {
		margin-bottom: 35px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
/*============/section===========*/


/*==========Intro===========*/
.intro {
	position: relative;
	z-index: 1;
	&__content {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), linear-gradient(90deg, #52F1FF -10.94%, #FF0EFF 104.02%);
			opacity: 0.75;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
		>* {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__inner {
		text-align: center;
		margin: 0 auto;
		max-width: 1000px;
		padding: 60px 15px 40px;
		min-height: calc(100vh - 80px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__title {
		font-family: $ffsf;
		font-size: 64px;
		font-weight: 700;
		line-height: 1.18;
		color: $wh;
		margin-bottom: 40px;
		@media(max-width: 1920px) {
			@include adaptiv-font(64, 28);
		}
	}
	&__description {
		font-family: $ffsf;
		font-size: 32px;
		font-weight: 500;
		color: $wh;
		line-height: $lh-big;
		margin-bottom: 30px;
		@media(max-width: 1920px) {
			@include adaptiv-font(32, 18);
		}
	}
	&__btn {
		display: inline-block;
		margin-bottom: 50px;
		background-color: $wh;
		border-radius: 2px;
		padding: 14px 29px;
		font-family: $ffsf;
		font-size: 16px;
		font-weight: 600;
		line-height: $lh-big;
		transition: all .2s linear;
		span {
			color: $d-purple;
			transition: all .2s linear;
		}
		&:hover {
			span {
				@include text-gradient_p;
			}
		}
	}
}
/*==========/intro===========*/

/*===========Dialogue===========*/
.dialogue {
	position: relative;
	&:before {
		content: "";
		width: 129px;
		height: 62px;
		background: url("../images/dots-pink.svg") top left no-repeat;
		background-size: contain;
		position: absolute;
		top: 62px;
		left: 80px;
		z-index: -1;
		pointer-events: none;
	}
	&__part {
		margin-bottom: 14px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&:last-child {
			margin-bottom: 0;
		}
		&_right {
			text-align: right;
			align-items: flex-end;
			.dialogue__item {
				justify-content: flex-end;
			}
			.dialogue__text {
				&:after {
					left: auto;
					right: 0;
					transform: translateX(50%) rotate(45deg);
				}
			}
			.dialogue__data {
				padding: 3px 8px 3px 10px;
				margin-right: 70px;
				margin-left: 0;
				&:after {
					left: auto;
					left: -2px;
					border-radius: 2px  0 0 2px;
				}
			}
			.dialogue__icon {
				img {
					min-height: 100%;
					min-width: 100%;
				}
			}
		}
	}
	&__item {
		display: flex;
		margin-left: -20px;
		margin-bottom: 8px;
		&:last-child {
			margin-bottom: 0;
		}
		>* {
			margin-left: 20px;
		}
	}
	&__text {
		max-width: 340px;
		background-color: $wh;
		border-radius: 8px;
		padding: 14px 10px;
		font-family: $ffsf;
		font-size: 13.3px;
		font-weight: 500;
		color: $lblack;
		line-height: $lh-big;
		position: relative;
		z-index: 3;
		a {
			color: #929EFF;
			text-decoration: underline;
		}
		&:after {
			content: "";
			width: 16.6px;
			height: 16.6px;
			background-color: $wh;
			position: absolute;
			top: 16.7px;
			left: 0;
			transform: translateX(-50%) rotate(45deg);
			z-index: -1;
		}
	}
	&__icon {
		width: 50px;
		height: 50px;
		flex: 0 0 50px;
		background-color: $wh;
		border: 1.66284px solid rgba(0, 0, 0, 0.08);
		border-radius: 50%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}
	&__data {
		display: inline-block;
		padding: 3px 10px 3px 8px;
		margin: 0 0 8px 70px;
		border: 2px solid #D5D5D5;
		border-radius: 4.15709px;
		background: #F5F5F5;
		position: relative;
		font-family: $ffsg;
		font-size: 10px;
		color: $lblack;
		line-height: $lh;
		&:last-child {
			margin-bottom: 0;
		}
		&:after {
			content: "";
			width: 6px;
			height: calc(100% + 4px);
			background-color: $d-purple;
			border-radius: 0 2px 2px 0;
			position: absolute;
			top: -2px;
			right: -2px;
			z-index: 1;
		}
		&.green {
			&:after {
				background-color: $green;
			}
		}
		&.lpurple {
			&:after {
				background-color: #929EFF;
			}
		}
	}
}
/*===========/dialogue===========*/

/*============Features==============*/
.features {
	&.pb {
		padding-bottom: 120px;
	}
	&_about {
		margin-bottom: 65px;
		.container {
			max-width: 1280px;
		}
		.features__inner{
			&:before, &:after {
				display: none;
			}
		}
		.features__item {
			&:nth-child(odd) {
				flex-direction: row-reverse;
				.features__info {
					padding-left: 0;
				}
				.features__photo {
					text-align: left;
				}
			}
			&:nth-child(even) {
				flex-direction: row;
				.features__photo {
					text-align: right;
				}
			}
		}
	}
	&_reverse {
		.features__item {
			&:nth-child(odd) {
				flex-direction: row-reverse;
				.features__photo {
					text-align: left;
				}
			}
			&:nth-child(even) {
				flex-direction: row;
				.features__photo {
					text-align: right;
				}
			}
		}
		.features__inner {
			&:before {
				left: auto;
				right: -18%;
			}
			&:after {
				left: -14%;
			}
		}
	}
	&-dialogues {
		.features__info {
			padding-left: 0;
			max-width: 530px;
		}
		.features__item {
			justify-content: space-between;
			margin-bottom: 200px;
			&:last-child {
				margin-bottom: 0;
			}
			&:nth-child(even) {
				.features__info  {
					max-width: 530px;
				}
				.dialogue {
					&:before {
						display: none;
					}
					&:after {
						content: "";
						width: 155px;
						height: 74px;
						background: url("../images/dots-gblue.svg") top left no-repeat;
						background-size: contain;
						position: absolute;
						bottom: -15%;
						right: 40px;
						z-index: -1;
						pointer-events: none;
					}
				}
			}
		}
	}
	&__inner {
		position: relative;
		z-index: 1;
		&:before {
			content: "";
			width: 165px;
			height: 79px;
			transform: rotate(90deg);
			background: url("../images/dots-gradient.svg") center no-repeat;
			position: absolute;
			top: 180px;
			left: -14%;
			z-index: -1;
		}
		&:after {
			content: "";
			width: 165px;
			height: 79px;
			transform: rotate(90deg);
			background: url("../images/dots-gradient.svg") center no-repeat;
			position: absolute;
			top: 46%;
			right: -18%;
			z-index: -1;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		margin-left: -120px;
		margin-bottom: 20px;
		>* {
			margin-left: 120px;
		}
		&:nth-child(odd) {
			.features__info {
				padding-left: 50px;
			}
		}
		&:nth-child(even) {
			flex-direction: row-reverse;
			.features__photo {
				text-align: left;
			}
			.features__info {
				max-width: 520px;
			}
		}
	}
	&__info {
		width: calc(50% - 120px);
		max-width: 540px;
	}
	&__title {
		margin-bottom: 40px;
	}
	&__photo {
		width: 50%;
		text-align: right;
		img {
			max-width: 100%;
		}
	}
	&__dialogue {
		width: 50%;
		max-width: 530px;
		.dialogue {
			&:before {
				top: -10%;
				left: auto;
				right: 30%;
			}
			&__text {
				max-width: 520px;
			}
		}
	}
}
/*============/features==============*/

/*================Hurry=============*/
.hurry {
	background-color: $bl2;
	padding: 70px 0;
	&__title {
		font-family: $ffsf;
		font-size: 36px;
		font-weight: 600;
		line-height: 1.4;
		color: $wh;
		margin-bottom: 60px;
		@media(max-width: 1920px) {
			@include adaptiv-font(36, 20);
		}
		span {
			font-weight: 700;
			color: #66D8FF;
		}
	}
	&-time {
		display: flex;
		justify-content: center;
		margin-left: -80px;
		&__item {
			width: calc(25% - 80px);
			max-width: 190px;
			margin-left: 80px;
			background-color: #161826;
			padding: 41px 15px;
			font-family: $ffsf;
			font-size: 64px;
			font-weight: 600;
			color: $wh;
			line-height: 1.4;
			text-align: center;
			position: relative;
			&:after {
				content: ":";
				position: absolute;
				top: 50%;
				right: -40px;
				transform: translate(50%, -50%);
				z-index: 1;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			@media(max-width: 1920px) {
				@include adaptiv-font(64, 18);
			}
		}
	}
}
/*================/hurry=============*/

/*=============Include===========*/
.include {
	&__item {
		display: flex;
		align-items: center;
		margin-left: -58px;
		margin-bottom: 70px;
		>* {
			margin-left: 58px;
		}
		&:nth-child(even) {
			flex-direction: row-reverse;
			text-align: right;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__icon {
		width: 150px;
		height: 150px;
		flex: 0 0 150px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			max-width: 66.66666%;
		}
		&.pink {
			box-shadow: 0px 23px 29px 8px rgba(252, 113, 175, 0.1);
		}
		&.blue {
			box-shadow: 0px 23px 29px 8px rgba(43, 195, 247, 0.1);
		}
		&.green {
			box-shadow: 0px 23px 29px 8px rgba(46, 189, 255, 0.1);
		}
		&.purple {
			box-shadow: 0px 23px 29px 8px rgba(137, 48, 253, 0.1);
		}
	}
	&__title {
		font-family: $ffsf;
		font-size: 24px;
		font-weight: 500;
		line-height: 1.4;
		color: $black;
		margin-bottom: 5px;
		@media(max-width: 1920px) {
			@include adaptiv-font(24, 18);
		}
	}
	&__text {
		font-family: $ffsf;
		font-size: 18px;
		font-weight: 500;
		line-height: $lh-big;
		color: $lblack;
		@media(max-width: 1920px) {
			@include adaptiv-font(18, 14);
		}
	}
}
/*=============/include===========*/

/*==============Steps==============*/
.steps {
	.title-block {
		margin-bottom: 80px;
	}
	&-scale {
		display: flex;
		>* {
			&:first-child {
				width: calc(33% - 6.5px);
				margin-right: 13px;
			}
			&:nth-child(2) {
				width: calc(67% - 6.5px);
				.steps-scale__fill {
					background: linear-gradient(90deg, #52F1FF -10.94%, #FF0EFF 104.02%);
					border-radius: 45px;
				}
			}
		}
		&__item {
			text-align: center;
		}
		&__title {
			font-family: $ffsf;
			font-size: 24px;
			font-weight: 600;
			color: $black;
			line-height: $lh-big;
			margin-bottom: 26px;
			img {
				display: inline-block;
				margin-right: 14px;
			}
		}
		&__fill {
			width: 100%;
			height: 15px;
			border-radius: 32px;
			background-color: $lblack;
		}
	}
	&__inner {
		padding-top: 50px;
		display: flex;
		margin-left: -5px;
		position: relative;
		&:before {
			content: "";
			width: calc(67% - 20px);
			height: 100%;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), linear-gradient(90deg, #52F1FF -10.94%, #FF0EFF 104.02%);
			opacity: 0.1;
			position: absolute;
			top: 0;
			right: 5px;
			z-index: 1;
		}
		>* {
			width: calc(16.66666% - 5px);
			margin-left: 5px;
		}
	}
	&__item {
		text-align: center;
		margin-bottom: 40px;
		position: relative;
		z-index: 2;
		&:after {
			content: "";
			width: 32px;
			height: 32px;
			background: url("../images/arrow-right.svg") center no-repeat;
			position: absolute;
			top: 40px;
			right: -5px;
			z-index: 1;
			transform: translate(50%, -50%);
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
	&__icon {
		width: 80px;
		height: 80px;
		flex: 0 0 80px;
		background-color: $wh;
		border-radius: 10px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 22px;
		box-shadow: 0px -17px 28px 8px rgba(146, 158, 255, 0.1);
		&.pink {
			box-shadow: 0px -17px 28px 8px rgba(253, 113, 175, 0.1);
		}
		&.yellow {
			box-shadow: 0px -17px 28px 8px rgba(255, 181, 38, 0.1);
		}
		&.green {
			box-shadow: 0px -17px 28px 8px rgba(46, 189, 151, 0.1);
		}
		&.purple {
			box-shadow: 0px -17px 28px 8px rgba(151, 71, 255, 0.1);
		}
		&.black {
			box-shadow: 0px -17px 28px 8px rgba(75, 80, 99, 0.1);
		}
		img {
			max-width: 50%;
		}
	}
	&__name {
		font-family: $ffsf;
		font-size: 18px;
		font-weight: 500;
		color: $black;
		line-height: $lh-big;
		max-width: 200px;
		margin: 0 auto;
		@media(max-width: 1920px) {
			@include adaptiv-font(18, 16);
		}
	}
}
/*==============/steps==============*/

/*==========Faq==========*/
.faq {
	margin-bottom: 90px;
	.title-block {
		margin-bottom: 50px;
	}
	&__item {
		padding: 30px 20px;
		position: relative;
		cursor: pointer;
		&:after {
			content: "";
			width: 100%;
			height: 2px;
			background: linear-gradient(to right, #929FFF, #F024FF);
			opacity: 0.2;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
		&.active {
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.69) 0%, #FFFFFF 100%), linear-gradient(90deg, rgba(82, 241, 255, 0.1) -10.94%, rgba(255, 14, 255, 0.1) 104.02%);
			.faq__question{
				svg {
					stroke: $d-purple;
					transform: rotate(180deg);
				}
			}
		}
	}
	&__question {
		font-family: $ffsf;
		font-size: 16px;
		font-weight: 500;
		color: $bl;
		line-height: 1.4;
		display: flex;
		align-items: center;
		justify-content: space-between;
		svg {
			margin-left: 15px;
			width: 24px;
			height: 24px;
			stroke: $lblack;
			fill: none;
			transition: all .3s linear;
		}
	}
	&__answer {
		display: none;
		padding-top: 20px;
		padding-right: 24px;
		font-family: $ffsf;
		font-size: 16px;
		font-weight: 400;
		color: $lblack;
		line-height: 1.4;
		p {
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
/*==========/faq==========*/

/*=========Question=========*/
.question {
	padding: 60px 0;
	background-color: $bl2;
	margin-bottom: 60px;
	&_logo {
		.question__inner {
			position: relative;
			z-index: 1;
			&:before {
				content: "";
				width: 222px;
				height: 133px;
				background: url("../images/logo-decor.svg") center no-repeat;
				background-size: contain;
				position: absolute;
				top: -40px;
				left: -18px;
				z-index: -1;
			}
		}
	}
	.title-medium {
		color: $wh;
		margin-right: 60px;
	}
	.btn-gradient {
		padding: 17px 40px;
		white-space: nowrap;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
/*=========/question=========*/

/*===========Info-block===========*/
.info-block {
	margin-bottom: 90px;
	text-align: center;
	.title-medium {
		margin-bottom: 40px;
	}
}
/*===========/info-block===========*/

/*=========Demonstration==========*/
.demonstration {
	overflow: hidden;
	.container {
		max-width: 1640px;
	}
	&__inner {
		position: relative;
		z-index: 1;
	}
	&__bg {
		width: 100%;
		position: absolute;
		top: 45%;
		left: 0;
		z-index: -1;
		transform: translateY(-50%);
		img {
			width: 100%;
		}
	}
	&__content {
		padding-top: 60px;
		max-width: 1200px;
		margin: 0 auto;
		text-align: center;
		.title-medium{
			margin-bottom: 30px;
		}
		.description {
			max-width: 1025px;
			margin: 0 auto;
		}
	}
	&__monitor {
		margin-top: 25px;
		margin-bottom: -25%;
		position: relative;
		>img {
			max-width: 100%;
		}
		&-subbox {
			position: absolute;
			top: 37%;
			left: 0;
			transform: translateX(-50%);
			z-index: 2;
			max-width: 30%;
			img {
				max-width: 100%;
			}
			&:last-child {
				top: 6%;
				left: auto;
				right: 0;
				transform: translateX(62%);
			}
		}
	}
}
/*=========/demonstration==========*/

/*=============Quality=============*/
.quality {
	padding-bottom: 86px;
	padding-top: 86px;
	&__inner {
		display: flex;
		flex-wrap: wrap;
		margin-left: -120px;
		margin-bottom: -30px;
		>* {
			width: calc(33.33333% - 120px);
			margin-left: 120px;
			margin-bottom: 30px;
		}
	}
	&__item {
		text-align: center;
	}
	&__icon {
		margin-bottom: 34px;
		img {
			width: 120px;
		}
	}
	&__title {
		margin-bottom: 40px;
	}
}
/*=============quality=============*/

/*=========Hetzner============*/
.hetzner {
	background-color: $bl2;
	padding: 64px 0;
	position: relative;
	overflow: hidden;
	text-align: center;
	&:before  {
		content: "";
		width: 308px;
		height: 308px;
		background: url("../images/circle-red.svg") center no-repeat;
		background-size: contain;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		transform: translate(-50%, -50%);
	}
	&:after {
		content: "";
		width: 266px;
		height: 266px;
		background-color: #D4092D;
		border-radius: 50%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;
		transform: translate(50%, 50%);
	}
	.container {
		max-width: 1030px;
		position: relative;
		z-index: 3;
	}
	.title-medium {
		color: $wh;
		margin-bottom: 40px;
	}
	.description {
		color: #BEC3DD;
		margin-bottom: 40px;
	}
	&__logo {
		img {
			max-width: 100%;
		}
	}
}
/*=========/hetzner============*/

/*=========Compliance=============*/
.compliance {
	padding-top: 86px;
	position: relative;
	z-index: 1;
	&:before {
		content: "";
		width: 165px;
		height: 79px;
		transform: rotate(90deg);
		background: url("../images/dots-gradient.svg") center no-repeat;
		position: absolute;
		top: 70%;
		left: 3%;
		z-index: -1;
	}
	&:after {
		content: "";
		width: 165px;
		height: 79px;
		transform: rotate(90deg);
		background: url("../images/dots-gradient.svg") center no-repeat;
		position: absolute;
		top: 25%;
		right: 3%;
		z-index: -1;
	}
	.container {
		max-width: 940px;
	}
	.title-medium {
		margin-bottom: 40px;
	}
	&__info {
		margin-bottom: 60px;
	}
	&-logo {
		display: flex;
		flex-wrap: wrap;
		margin-left: -50px;
		margin-bottom: -30px;
		@media(min-width: 1200px) {
			padding: 0 30px;
		}
		&__item {
			width: calc(25% - 50px);
			margin-left: 50px;
			margin-bottom: 30px;
			img {
				max-width: 100%;
			}
		}
	}
}
/*=========/compliance=============*/

/*===Switch====*/
.switch {
	cursor: pointer;
	position: relative;
	width: 51px;
	height: 31px;
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 50px;
		background-color: #D8D8D8;
		transition: all .3s linear;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}
	&:after {
		content: "";
		width: 27px;
		height: 27px;
		background-color: $wh;
		border-radius: 50%;
		position: absolute;
		top: 2px;
		left: 2px;
		z-index: 5;
		transition: all .3s linear;
	}
	&.active {
		&:before {
			background-color: $purple;
		}
		&:after {
			left: 22px;
		}
	}
	input {
		display: none;
	}
}
/*===/switch====*/

/*==============Plans==========*/
.plans {
	padding-top: 80px;
	position: relative;
	z-index: 1;
	.container {
		max-width: 1570px;
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 50%;
		z-index: -1;
		width: 100%;
		max-width: 1760px;
		transform: translateX(-50%);
		img {
			width: 100%;
		}
	}
	&__title {
		margin-bottom: 69px;
		font-family: $ffsf;
		font-size: 64px;
		font-weight: 600;
		color: $black;
		line-height: 1.18;
		text-align: center;
		@media(max-width: 1920px) {
			@include adaptiv-font(64, 28);
		}
	}
	&__switch {
		display: flex;
		align-items: center;
		justify-content: center;
		&-description {
			font-family: $ffsf;
			font-size: 20px;
			font-weight: 500;
			color: $bl;
			line-height: $lh;
			position: relative;
			span {
				&:nth-child(2) {
					font-size: 14px;
					color: #FF0EFF;
					position: absolute;
					bottom: 100%;
					right: 0;
					transform: translateX(50%);
					z-index: 1;
				}
			}
		}
		.switch {
			margin: 0 20px;
		}
	}
	&__inner {
		margin-top: 90px;
		display: flex;
		flex-wrap: wrap;
		margin-left: -60px;
		margin-bottom: -60px;
		>* {
			width: calc(25% - 60px);
			margin-left: 60px;
			margin-bottom: 60px;
		}
	}
	&__item {
		background: $wh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 10px;
		padding: 36px 32px;
		position: relative;
		z-index: 2;
		&:before {
			content: "";
			width: calc(100% + 4px);
			height: calc(100% + 4px);
			background: linear-gradient(93.26deg, #929EFF -0.54%, #EF24FF 96.74%);
			border-radius: 10px;
			position: absolute;
			top: -2px;
			left: -2px;
			z-index: -1;
		}
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			background-color: $wh;
			border-radius: 10px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}
		&:last-child {
			padding: 45px 32px 40px;
			.plans__name {
				margin-bottom: 30px;
			}
			.plans__description {
				margin-bottom: 5px;
			}
		}
	}
	&__status {
		display: inline-block;
		text-align: center;
		background: linear-gradient(90deg, #AE7AFF 0%, #D34AFF 100%);
		border-radius: 60px;
		font-family: $ffsf;
		font-size: 18px;
		font-weight: 500;
		color: $wh;
		line-height: $lh-big;
		padding: 3px 38px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;
		@media(max-width: 1920px) {
			@include adaptiv-font(18, 14);
		}
	}
	&__info {
		text-align: center;
		margin-bottom: 36px;
	}
	&__name {
		font-family: $ffsf;
		font-size: 32px;
		font-weight: 500;
		color: $bl;
		line-height: 1.18;
		margin-bottom: 10px;
		@media(max-width: 1920px) {
			@include adaptiv-font(32, 24);
		}
	}
	&__description {
		max-width: 220px;
		margin: 0 auto 28px;
	}
	&__price {
		font-family: $ffsf;
		font-size: 72px;
		font-weight: 600;
		color: #2A3342;
		display: flex;
		justify-content: center;
		@media(max-width: 1920px) {
			@include adaptiv-font(72, 36);
		}
		span {
			&:first-child {
				font-size: 30px;
				color: $d-purple;
				align-self: flex-start;
				@media(max-width: 1920px) {
					@include adaptiv-font(30, 20);
				}
			}
			&:nth-child(2) {
				letter-spacing: -0.02em;
				line-height: 0.8;
				margin: 0 3px 0 4px;
			}
			&:nth-child(3) {
				font-size: 16px;
				color: $bl3;
				align-self: flex-end;
				@media(max-width: 1920px) {
					@include adaptiv-font(16, 14);
				}
			}
		}
	}
	.btn-gradient {
		width: 100%;
		margin-bottom: 30px;
	}
	&-data {
		&__item {
			font-family: $ffsf;
			font-weight: 600;
			font-size: 18px;
			color: $lblack;
			line-height: $lh-big;
			margin-bottom: 20px;
			@media(max-width: 1920px) {
				@include adaptiv-font(18, 14);
			}
			&:last-child {
				margin-bottom: 0;
			}
			span {
				font-weight: 500;
			}
		}
	}
	&__message {
		text-align: center;
		a {
			color: $d-purple;
		}
	}
}
/*==============/plans==========*/

/*=========Plans-table=========*/
.plans-table {
	&__title {
		text-align: center;
		margin-bottom: 80px;
	}
	.container {
		max-width: 1480px;
	}
	* {
		-ms-overflow-style: none;
    	scrollbar-width: none; 
    }
	*::-webkit-scrollbar {
      width: 0;
      height: 0; 
  	}
}
/*=========/plans-table=========*/

/*============Table============*/
.table {
	overflow: auto;
	&_three {
		.table__inner {
			min-width: 430px;
		}
		.table__col {
			width: 31.3%;
		}
		.table__content	{
			.table__row {
				&:last-child {
					background: rgba(146, 158, 255, 0.28);
					.table__col {
						font-weight: 700;
					}
				}
			}
		}
	}
	&__inner {
		min-width: 630px;
	}
	&__row {
		display: flex;
	}
	&__col {
		width: 23.5%;
		text-align: center;
		padding: 15px 25px;
		border-right: 1px solid rgba(75, 80, 99, 0.4);
		font-family: $ffsf;
		font-size: 18px;
		font-weight: 500;
		color: $lblack;
		line-height: $lh-big;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@media(max-width: 1920px) {
			@include adaptiv-font(18, 14);
		}
		&:first-child {
			text-align: left;
			width: 29.5%;
			flex: 1 1 auto;
			justify-content: flex-start;
			align-items: flex-start;
		}
		&:last-child {
			border-right: none;
		}
	}
	&__header {
		.table__col{
			border-right: none;
			font-family: $ffsf;
			font-size: 32px;
			font-weight: 500;
			color: $bl;
			line-height: $lh;
			@media(max-width: 1920px) {
				@include adaptiv-font(32, 16);
			}
		}
	}
	&__subtitle {
		font-family: $ffsf;
		font-size: 24px;
		font-weight: 500;
		color: $bl;
		line-height: $lh;
		@media(max-width: 1920px) {
			@include adaptiv-font(24, 14);
		}
	}
	&__block {
		.table__subheader {
			.table__col {
				padding: 50px 25px 5px;
			}
		}
	}
	&__content {
		.table__row {
			&:nth-child(even) {
				background: linear-gradient(93.26deg, rgba(146, 158, 255, 0.1) -0.54%, rgba(239, 36, 255, 0.1) 96.74%);
			}
		}
	}
	&-plans {
		margin-top: 50px;
		&__name {
			font-family: $ffsf;
			font-size: 32px;
			font-weight: 600;
			color: $bl;
			line-height: 1.18;
			margin-bottom: 14px;
			@media(max-width: 1920px) {
				@include adaptiv-font(32, 16);
			}
		}
		&__price {
			font-family: $ffsf;
			font-size: 24px;
			font-weight: 500;
			color: $bl;
			line-height: $lh;
			margin-bottom: 20px;
			@media(max-width: 1920px) {
				@include adaptiv-font(24, 14);
			} 
		}
		.btn-transparent {
			width: 100%;
			max-width: 276px;
			padding: 12px;
		}
	}
}
/*============/table============*/

/*==========Table-section============*/
.table-section {
	.container {
		max-width: 1115px;
	}
}
/*==========/table-section============*/

/*===========About-intro========*/
.about-intro {
	padding-top: 45px;
	text-align: center;
	.container {
		max-width: 1430px;
	}
	.title-big {
		margin-bottom: 45px;
	}
	&__photo {
		img {
			max-width: 100%;
		}
	}
}
/*===========/about-intro========*/

/*==========About-who==========*/
.about-who {
	margin-bottom: 65px;
	.container {
		max-width: 1280px;
	}
	.title-medium {
		margin-bottom: 40px;
	}
	&__inner {
		display: flex;
		align-items: flex-end;
	}
	&__info {
		width: 50%;
		padding-right: 32px;
		padding-bottom: 10px;
	}
	&__photo {
		width: 50%;
		position: relative;
		z-index: 1;
		&:before {
			content: "";
			width: 110%;
			height: 115%;
			background: url("../images/logo-grad.svg") top right no-repeat;
			background-size: 100% auto;
			position: absolute;
			top: 0;
			left: 2%;
			z-index: -1;
		}
		img {
			max-width: 100%;
		}
	}
}
/*==========/about-who==========*/

/*==========Demo==========*/
.demo {
	padding: 100px 0 130px;
	.container {
		max-width: 1515px;
	}
	&__inner {
		display: flex;
	}
	&__info {
		width: 37%;
		padding-right: 80px;
		padding-top: 60px;
		.title-medium {
			margin-bottom: 45px;
		}
	}
	&__form {
		width: 63%;
	}
	&__description {
		margin-top: 28px;
		padding-left: 47px;
		font-family: $ffsf;
		font-size: 14px;
		font-weight: 400;
		color: $lblack;
		line-height: 1.48;
		max-width: 350px;
	}
	&__subtitle {
		font-family: $ffsf;
		font-size: 24px;
		font-weight: 600;
		color: $bl;
		line-height: 1.2;
		margin-bottom: 30px;
		text-align: center;
		@media(max-width: 1920px) {
			@include adaptiv-font(24, 18);
		}
	}
	.contact-us-form {
		&__item {
			label {
				color: #262835;
			}
			input, textarea {
				border: 1px solid #D8D8D8;
			}
		}
		&.contact-us-form_new {
			.contact-us-form__check {
				label {
					color: #262835;
					i, a {
						color: #262835;
					}
				}
			}
		}
	}
}
/*==========/demo==========*/

/*=========Setup-intro=========*/
.setup-intro {
	padding-top: 40px;
	.container {
		max-width: 1200px;
	}
	&__inner {
		display: flex;
		align-items: center;
	}
	&__info {
		width: 47.5%;
		padding-right: 70px;
		margin: 30px 0;
	}
	&__photo {
		width: 52.5%;
		img {
			max-width: 100%;
		}
	}
	.title-medium {
		margin-bottom: 40px;
		span {
			color: $purple;
		}
	}
	.btn-purple {
		margin-top: 38px;
		border-radius: 6px;
		background-color: $purple;
		min-width: 60%;
	}
}
/*=========/setup-intro=========*/


/*=============Adaptive=============*/
@media(max-width: 1500px) {
	.demonstration {
		&__monitor {
			padding: 0 30px;
			&-subbox {
				transform: translateX(-5%);
				&:last-child {
					top: -20px;
					transform: translateX(7%);
				}
			}
		}
	}
	.compliance {
		&:before {
			left: -3%;
		}
		&:after {
			right: -3%;
		}
	}
}

@media(max-width: 1200px) {
	.plans {
		padding-top: 50px;
		&__inner {
			margin-left: -30px;
			margin-bottom: -30px;
			margin-top: 50px;
			>* {
				width: calc(50% - 30px);
				margin-left: 30px;
				margin-bottom: 30px;
			}
		}
		&__item {
			&:last-child {
				padding: 36px 32px;
				.plans__name {
					margin-bottom: 10px;
				}
				.plans__message {
					max-width: 220px;
					margin: 0 auto;
				}
			}
		}
	}
	.features {
		&-dialogues {
			.features__item {
				margin-bottom: 90px;
			}
		}
	}
	.compliance {
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}
	}
}

@media(max-width: 992px) {
	.plans-table {
		&__title {
			margin-bottom: 30px;
		}
	}
	.table {
		&__block {
			.table__subheader {
				.table__col {
					padding: 20px 10px 5px;
				}
			}
		}
	}
	.demo {
		padding: 50px 0 70px;
		&__inner {
			display: block;
		}
		&__info {
			width: 100%;
			padding-right: 0;
			padding-top: 0;
			margin-bottom: 30px;
			.title-medium {
				margin-bottom: 20px;
			}
		}
		&__form {
			width: 100%;
		}
	}
	.about-who {
		.title-medium {
			margin-bottom: 20px;
		}
		&__inner {
			flex-direction: column;
			align-items: center;
		}
		&__info {
			width: 100%;
			padding-right: 0;
			padding-bottom: 30px;
		}
		&__photo {
			display: inline-block;
			width: auto;
			&:before {
				left: 0;
			}
		}
	}
	.quality {
		&__inner {
			margin-left: -60px;
			>* {
				width: calc(33.33333% - 60px);
				margin-left: 60px;
			}
		}
	}
	.hetzner {
		&:before {
			width: 150px;
			height: 150px;
		}
		&:after {
			width: 150px;
			height: 150px;
		}
	}
	.features {
		&__item {
			margin-left: -40px;
			margin-bottom: 30px;
			>* {
				margin-left: 40px;
			}
			&:nth-child(odd) {
				.features__info {
					padding-left: 0;
				}
			}
		}
		&__info {
			width: calc(50% - 40px);
		}
		&__title {
			margin-bottom: 20px;
		}
	}
}
@media(max-width: 860px) {
	.table {
		&__col {
			padding: 10px;
		}
		&__subheader {
			.table__col {
				padding: 5px 10px;
			}
		}
	}
	.features {
		&__inner {
			&:before {
				display: none;
			}
		}
	}
	.steps {
		.title-block {
			margin-bottom: 30px;
		}
		&__wrapper {
			position: relative;
		}
		&-scale {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			padding-right: 40px;
			>* {
				position: relative;
				&:first-child {
					height: calc(33% - 6.5px);
					width: auto;
					margin-right: 13px;
					margin-right: 0;
					margin-bottom: 13px;
				}
				&:nth-child(2) {
					width: auto;
					height: calc(67% - 6.5px);
					.steps-scale__title {
						top: 20%;
					}
				}
			}
			&__fill {
				width: 10px;
				height: 100%;
			}
			&__title {
				display: flex;
				align-items: flex-start;
				transform-origin: 0 100%;
				position: absolute;
				top: 5%;
				left: 20px;
				z-index: 4;
				transform: rotate(90deg);
				white-space: nowrap;
			}
		}
		&__inner {
			padding-top: 0;
			display: block;
			margin-left: 0;
			padding-right: 70px;
			>* {
				margin-left: 0;
				width: 100%;
			}
			&:before {
				width: 100%;
				height: calc(67% - 13px);
				right: 50px;
				top: auto;
				bottom: 2px;
			}
		}
		&__item {
			display: flex;
			align-items: center;
			text-align: left;
			margin-bottom: 70px;
			&:after {
				top: calc(100% + 35px);
				right: auto;
				left: 40px;
				transform: translate(-50%, -50%) rotate(90deg);
				z-index: 3;
			}
		}
		&__name {
			max-width: 100%;
			margin-left: 20px;
		}
		&__icon {
			margin-bottom: 0;
		}
	}
	.faq {
		margin-bottom: 50px;
		.title-block {
			margin-bottom: 10px;
		}
		&__item {
			padding: 20px 10px;
		}
	}
}

@media(max-width: 766px) {
	.section {
		margin-bottom: 50px;
	}
	.bg-grad {
		&.pt-120 {
			padding-top: 60px;
			.features {
				padding-bottom: 0;
			}
		}
		.advantages-check {
			padding-bottom: 50px;
		}
	}
	.description {
		p {
			margin-bottom: 20px;
		}
	}
	.setup-intro {
		&__inner {
			display: block;
		}
		&__info {
			width: 100%;
			padding-right: 0;
			margin-top: 0;
		}
		&__photo {
			width: 100%;
			text-align: center;
		}
		.title-medium {
			margin-bottom: 20px;
		}
		.btn-purple {
			margin-top: 30px;
		}
	}
	.compliance {
		padding-top: 50px;
		.title-medium {
			margin-bottom: 20px;
		}
		&__info {
			margin-bottom: 40px;
		}
	}
	.quality {
		padding-top: 50px;
		padding-bottom: 50px;
		&__inner {
			margin-left: 0;
			>* {
				width: 100%;
				margin-left: 0;
			}
		}
		&__icon {
			margin-bottom: 20px;
		}
		&__title {
			margin-bottom: 20px;
		}
		br {
			display: none;
		}
	}
	.demonstration {
		&__content {
			padding-top: 30px;
		}
		&__bg {
			//top: 70%;
			display: none;
		}
		&__monitor {
			margin-bottom: -20%;
		}
	}
	.info-block{
		margin-bottom: 50px;
		.title-medium{
			margin-bottom: 20px;
		}
	}
	.decor-line {
		&:before {
			display: none;
		}
	}

	.decor-line-pink {
		&:before {
			display: none;
		}
	}

	.question {
		padding: 40px 0;
		.title-medium{
			margin-right: 0;
			margin-bottom: 20px;
			text-align: center;
		}
		&__inner {
			flex-direction: column;
		}
	}
	.features {
		&.pb {
			padding-bottom: 50px;
		}
		&-dialogues {
			.features__info {
				max-width: 100%;
			}
			.features__item {
				&:nth-child(even) {
					.features__info  {
						max-width: 100%;
					}
					.dialogue {
						&:after {
							width: 100px;
							height: 50px;
							bottom: -10%;
						}
					}
				}
			}
		}
		&__inner {
			&:after {
				display: none;
			}
		}
		&__item {
			display: block;
			margin-left: 0;
			>* {
				margin-left: 0;
			}
			&:nth-child(even) {
				.features__info {
					max-width: 100%;
				}
			}
		}
		&__info {
			width: 100%;
			margin-bottom: 20px;
			max-width: 100%;
			br {
				display: none;
			}
		}
		&__photo {
			width: 100%;
		}
		&__dialogue {
			width: 100%;
			max-width: 100%;
		}
	}
	.hurry {
		padding: 30px 0;
		&__title {
			margin-bottom: 20px;
		}
		&-time {
			margin-left: -30px;
			&__item {
				padding: 20px 7px;
				margin-left: 30px;
				width: calc(25% - 30px);
				&:after {
					right: -15px;
				}
			}
		}
	}
	.include {
		&__item {
			margin-left: -30px;
			margin-bottom: 40px;
			>* {
				margin-left: 30px;
			}
		}
		&__icon {
			width: 80px;
			height: 80px;
			flex:  0 0 80px;
		}
	}
}

@media(max-width: 546px) {
	.compliance {
		&-logo {
			margin-left: -20px;
			&__item {
				width: calc(25% - 20px);
				margin-left: 20px;
			}
		}
	}
	.plans {
		padding-top: 30px;
		&__inner {
			margin-left: 0;
			>* {
				width: 100%;
				margin-left: 0;
			}
		}
		&__item {
			&:last-child {
				.plans__message {
					max-width: 100%;
				}
			}
		}
	}
}


@media(max-width: 414px) {
	.features {
		&-dialogues {
			.features__item {
				margin-bottom: 60px;
			}
		}
	}
	.hetzner {
		&:after {
			width: 120px;
			height: 120px;
		}
	}
	.steps {
		&-scale {
			&__title {
				top: -10px;
			}
			>* {
				&:nth-child(2) {
					.steps-scale__title {
						top: 18%;
					}
				}
			}
		}
		&__icon {
			width: 60px;
			height: 60px;
			flex: 0 0 60px;
		}
		&__item {
			&:after {
				left: 30px;
			}
		}
	}
}
/*=============/adaptive=============*/