@import 'fonts.scss';
@import 'variables.scss';
@import 'page.scss';



/*Reset
===============*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: $ffsf;
	line-height: 1;
	font-size: 16px;
	color: $bl;
	background-color: $lgray;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body.hidden {
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 1260px;
	padding: 0 15px;
	margin: 0 auto;
	&_big {
		max-width: 1395px;
	}
	&_full {
		max-width: 100%;
		padding: 0;
	}
}

.wrapper {
	overflow: hidden;
	background: $lgray;
	&-wh {
		background-color: $wh;
	}
}

.main {
	overflow: hidden;
	padding-top: 80px;
}

.title-block {
	font-family: $ffsf;
	font-size: 48px;
	font-weight: 600;
	color: $black;
	line-height: $lh;
	max-width: 900px;
	margin: 0 auto 20px;
	&_center {
		text-align: center;
	}
}

.subtitle-block {
	font-family: $ffsf;
	font-size: 18px;
	font-weight: 500;
	color: $lblack;
	line-height: $lh-big;
	max-width: 930px;
	margin: 0 auto;
	&_center {
		text-align: center;
	}
}

.page {
	margin-bottom: 50px;
	&_blog-list {
		margin-bottom: 80px;
	}
}

.breadcrumbs {
	padding-top: 20px;
	&__back {
		display: flex;
		align-items: center;
		margin-bottom: -19px;
		svg {
			width: 11px;
			height: 18px;
			stroke: $dgray;
			fill: none;
			transition: all .2s linear;
			margin-right: 14px;
		}
		span {
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 400;
			color: $dgray;
			line-height: $lh;
			transition: all .2s linear;
		}
		&:hover {
			svg {
				stroke: $purple;
			}
			span {
				color: $purple;
			}
		}
	}
}

.btn-gradient {
	display: inline-block;
	text-align: center;
	padding: 10px 35px;
	background: linear-gradient(93.26deg, #929EFF -0.54%, #EF24FF 96.74%);
	border-radius: 2px;
	font-family: $ffsf;
	font-size: 16px;
	font-weight: 500;
	color: $wh;
	line-height: $lh;
	transition: all .2s linear;
	&:hover {
		background: linear-gradient(94.74deg, #929EFF -36.74%, #EF24FF 62.08%);
		box-shadow: 0px 8px 57px rgba(255, 14, 255, 0.33);
	}
}

.btn-purple {
	min-width: 172px;
	display: inline-block;
	text-align: center;
	padding: 14px 10px;
	background: #8930FD;
	border-radius: 2px;
	font-family: $ffsf;
	font-size: 16px;
	font-weight: 600;
	color: $wh;
	line-height: $lh-big;
	transition: all .2s linear;
	&:hover {
		background: linear-gradient(94.74deg, #929EFF -36.74%, #EF24FF 62.08%);
		box-shadow: 0px 8px 57px rgba(255, 14, 255, 0.33);
	}
}

.tab-block {
	&.tab_2, &.tab_3, &.tab_4,
	&.tab_5, &.tab_6, &.tab_7, &.tab_8,
	&.tab_9, &.tab_10 {
		display: none;
	}
}

.video-content {
	position: relative;
	cursor: pointer;
	&:before {
		content: "";
		width: 165px;
		height: 79px;
		background: url("../images/dots-gradient.svg") top left no-repeat;
		background-size: contain;
		position: absolute;
		top: -29px;
		left: -54px;
		z-index: 1;
		opacity: 0.3;
	}
	&__place {
		>* {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 3px;
			overflow: hidden;
		}
	}
	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		transition: all .2s linear;
		svg {
			width: 58px;
			height: 58px;
			fill: $d-purple;
			transition: all .2s linear;
		}
		&.purple {
			svg {
				fill: $d-purple;
			}
		}
		&.lpurple {
			svg {
				fill: #929EFF;
			}
		}
		&.green {
			svg {
				fill: $green;
			}
		}
		&.blue {
			svg {
				fill: $blue;
			}
		}
	}
	&:hover {
		.video-content__icon {
			opacity: 0.8;
		}
	}
}

.mb-100 {
	margin-bottom: 100px!important;
}

.mb-50 {
	margin-bottom: 50px!important;
}

/*==================Opening=================*/
.opening {
	padding: 90px 0 100px;
	position: relative;
	z-index: 1;
	&:before {
		content: "";
		background: url("../images/circle-gradient-blur.svg") center no-repeat;
		background-size: contain;
		filter: blur(30px);
		width: 49vw;
		height: 49vw;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		transform: translate(-62%, -55%);
	}
	&:after {
		content: "";
		width: 165px;
		height: 79px;
		background: url("../images/dots-gradient.svg") center no-repeat;
		background-size: contain;
		position: absolute;
		bottom: 77px;
		left: 0px;
		z-index: -1;
	}
	&__inner {
		display: flex;
		align-items: center;
		&_top {
			align-items: flex-start;
		}
	}
	&__info {
		width: 42%;
		position: relative;
		z-index: 3;
	}
	&__title {
		font-family: $ffsf;
		font-size: 64px;
		font-weight: 700;
		color: $black;
		line-height: $lh;
		margin-bottom: 30px;
		@media(max-width: 1920px) {
			@include adaptiv-font(64, 28);
		}
	}
	.subtitle-block {
		font-size: 20px;
		margin-bottom: 30px;
	}
	&-photo {
		width: 90%;
		margin-right: -39%;
		margin-left: -3%;
		position: relative;
		z-index: 1;
		&:after {
			content: "";
			width: 165px;
			height: 79px;
			background: url("../images/dots-gradient.svg") center no-repeat;
			background-size: contain;
			transform: rotate(90deg);
			position: absolute;
			top: 15px;
			right: 20px;
			z-index: -1;
		}
		img {
			max-width: 100%;
		}
		&__phone {
			max-width: 22%;
			position: absolute;
			top: 8%;
			left: 20%;
			z-index: 2;
			animation-name: translateY;
			animation-duration: 5s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			animation-delay: 1s;
			animation-timing-function: ease-in;
		}
		&__circle {
			max-width: 69%;
			position: absolute;
			top: -2%;
			left: 9.5%;
			z-index: -1;
		}
	}
	&-list {
		display: flex;
		flex-wrap: wrap;
		margin-left: -44px;
		margin-bottom: 18px;
		max-width: 485px;
		>* {
			width: calc(50% - 44px);
			margin-left: 44px;
			margin-bottom: 17px;
		}
		&__item {
			display: flex;
			align-items: center;
			img {
				width: 32px;
				flex: 0 0 32px;
				margin-right: 12px;
			}
			span {
				font-family: $ffsf;
				font-size: 20px;
				font-weight: 500;
				color: $black;
				line-height: $lh-big;
				@media(max-width: 1920px) {
					@include adaptiv-font(20, 14);
				}
			}
		}
	}
	&__video {
		width: 50%;
		margin-right: -6%;
	}
	&__img {
		position: relative;
		z-index: 1;
		&:before {
			content: "";
			width: 86%;
			height: 135%;
			background: url("../images/circle-gradient-blur.svg") top left no-repeat;
			background-size: contain;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: -1;
			transform: translate(-50%, -50%);
			filter: blur(40px);
		}
		img {
			max-width: 100%;
		}
	}
	&.opening-finance, &.opening-healthcare,
	&.opening-e-commerce, &.opening-telecom,
	&.opening-travel {
		padding: 0;
	}
	&-finance {
		&:after {
			bottom: 20px;
		}
		&:before {
			display: none;
		}
		.opening__info {
			width: 56%;
			padding-right: 70px;
		}
		&-box {
			padding: 185px 0;
			position: relative;
			z-index: 1;
			&:before {
				content: "";
				width: 165px;
				height: 79px;
				background: url("../images/dots-gradient.svg") top left no-repeat;
				background-size: contain;
				position: absolute;
				top: 105px;
				right: 22px;
				z-index: -1;
				transform: rotate(90deg);
			}
		}
		.opening__inner {
			position: relative;
			z-index: 1;
			&:before {
				content: "";
				background: url("../images/circle-gradient-blur.svg") center no-repeat;
				background-size: contain;
				filter: blur(30px);
				width: 49vw;
				height: 49vw;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				transform: translate(-28%, -100%);
			}
		}
	}
	&-healthcare {
		&-box {
			padding: 148px 0 256px;
		}
		&:before, &:after {
			display: none;
		}
		.opening__info {
			width: 42.5%;
		}
		.opening__img {
			width: 62.5%;
			margin-right: -5%;
		}
	}
	&-e-commerce {
		&:before, &:after {
			display: none;
		}
		&-box {
			padding: 120px 0 190px;
		}
		.opening__info {
			width: 54%;
		}
		.opening__img {
			padding-left: 25px;	
			width: 70.5%;
			margin-right: -24.5%;
			&:before {
				width: 80%;
				left: 30%;
				top: 60%;
			}
		}
	}
	&-travel {
		&:before, &:after {
			display: none;
		}
		&-box {
			padding: 170px 0 120px;
		}
		.opening__info {
			width: 54%;
		}
		.subtitle-block {
			max-width: 420px;
			margin-left: 0;
		}
		.opening__img {
			width: 93.5%;
			margin-left: -20.5%;
			margin-right: -27%;
			&:before {
				width: 60%;
				top: 60%;
			}
		}
	}
	&-telecom {
		&:before, &:after {
			display: none;
		}
		&-box {
			padding: 136px 0 214px;
		}
		.opening__info {
			width: 54%;
		}
		.subtitle-block {
			max-width: 575px;
			margin-left: 0;
		}
		.opening__img {
			width: 61%;
			margin-left: -8%;
			margin-right: -7%;
			&:before {
				width: 80%;
				top: 65%;
				left: 58%;
			}
		}
	}
	&-pages {
		&-box {
			position: relative;
			z-index: 1;
			&:before {
				content: "";
				width: 165px;
				height: 79px;
				background: url("../images/dots-gradient.svg") top left no-repeat;
				background-size: contain;
				position: absolute;
				top: 62px;
				left: -16px;
				z-index: -1;
			}
			&:after {
				content: "";
				width: 165px;
				height: 79px;
				background: url("../images/dots-gradient.svg") top left no-repeat;
				background-size: contain;
				transform: rotate(90deg);
				position: absolute;
				bottom: 180px;
				right: 59px;
				z-index: -1;
			}
		}
	}
}

@keyframes translateY {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-11.5%);
    }
    50% {
        transform: translateY(-11.5%);
    }
    75% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
/*=================/opening=================*/

/*==========Use========*/
.use {
	margin-bottom: 70px;
	padding: 40px 0;
	position: relative;
	z-index: 1;
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, #52F1FF -10.94%, #FF0EFF 104.02%);
		opacity: 0.05;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	&:after {
		content: "";
		background: url("../images/circle-gradient-blur.svg") center no-repeat;
		background-size: contain;
		filter: blur(30px);
		width: 49vw;
		height: 49vw;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;
		transform: translate(77%, 7%);
	}
	.title-block {
		font-size: 36px;
	}
	&__inner {
		margin-top: 54px;
		display: flex;
		justify-content: center;
	}
	&__item {
		width: 178px;
		margin-right: 156px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		img {
			max-width: 100%;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	&__icon {
		margin-bottom: 18px;
	}
	&__name {
		font-family: $ffsf;
		font-size: 18px;
		font-weight: 500;
		color: $lblack;
		line-height: $lh;
		text-align: center;
	}
}
/*=========/use========*/

/*============Customer==============*/
.customer {
	margin-bottom: 70px;
	position: relative;
	z-index: 2;
	&:before {
		content: "";
		background: url("../images/circle-gradient-blur.svg") center no-repeat;
		background-size: contain;
		filter: blur(30px);
		width: 49vw;
		height: 49vw;
		position: absolute;
		top: 28%;
		left: 0;
		z-index: -1;
		transform: translate(-76%, 0) rotate(160deg);
	}
	&:after  {
		content: "";
		background: url("../images/circle-gradient-blur.svg") center no-repeat;
		background-size: contain;
		filter: blur(30px);
		width: 49vw;
		height: 49vw;
		position: absolute;
		top: 3%;
		right: 0;
		z-index: -1;
		transform: translate(88%, 0) rotate(160deg);
	}
	.subtitle-block {
		margin-bottom: 70px;
	}
	&-box {
		padding: 85px 65px 85px 90px;
		background-color: #F4F5FF;
		border-radius: 15px;
		margin-bottom: 50px;
		&:last-child {
			margin-bottom: 0;
		}
		&__title {
			font-family: $ffsf;
			font-size: 40px;
			font-weight: 600;
			color: #6373FC;
			line-height: $lh;
			display: flex;
			align-items: center;
			margin-bottom: 50px;
			@media(max-width: 1920px) {
				@include adaptiv-font(40, 28);
			}
			img {
				margin-right: 15px;
			}
		}
		&_green {
			background-color: #F0FBF8;
			.customer-box__title {
				color: $green;
			}
			.tabs-nav a {
				&:after {
					background-color: $green;
				}
				span {
					&:after {
						background-color: $green;
					}
				}
			}
			.customer__btn {
				background-color: $green;
			}
			.customer__content {
				&:before {
					width: 79px;
					height: 165px;
					background: url("../images/dots-green.svg") top left no-repeat;
					background-size: contain;
					top: auto;
					bottom: -27px;
					left: 29px;
				}
			}
		}
		&_purple {
			background-color: #F7F6FE;
			.customer-box__title {
				color: #8930FD;
			}
			.tabs-nav a {
				&:after {
					background-color: #8930FD;
				}
				span {
					&:after {
						background-color: #8930FD;
					}
				}
			}
			.customer__btn {
				background-color: #8930FD;
			}
			.customer__content {
				&:before {
					background: url("../images/dots-purple_2.svg") top left no-repeat;
					background-size: contain;
					top: auto;
					left: auto;
					bottom: -45px;
					right: 29px;
				}
			}
		}
		&_blue {
			background-color: #EDFAFE;
			.customer-box__title {
				color: $blue;
			}
			.tabs-nav a {
				&:after {
					background-color: $blue;
				}
				span {
					&:after {
						background-color: $blue;
					}
				}
			}
			.customer__btn {
				background-color: $blue;
			}
			.customer__content {
				&:before {
					background: url("../images/dots-blue.svg") top left no-repeat;
					background-size: contain;
					top: -46px;
					left: auto;
					right: 50px;
				}
			}
		}
	}
	&__header {
		margin-bottom: -130px;
		position: relative;
		z-index: 5;
	}
	&__inner {
		display: flex;
		align-items: flex-start;
	}
	&__info {
		width: 43%;
		padding-right: 65px;
		padding-top: 178px;
	}
	&__title {
		font-family: $ffsf;
		font-size: 36px;
		font-weight: 600;
		color: $bl;
		line-height: $lh-big;
		margin-bottom: 42px;
		@media(max-width: 1920px) {
			@include adaptiv-font(36, 20);
		}
	}
	&__subtitle {
		font-family: $ffsf;
		font-size: 18px;
		font-weight: 500;
		color: $lblack;
		line-height: $lh-big;
		margin-bottom: 42px;
	}
	&__btn {
		display: inline-block;
		text-align: center;
		padding: 14px 46px;
		border-radius: 2px;
		background-color: #6373FC;
		font-family: $ffsf;
		font-size: 16px;
		font-weight: 600;
		color: $wh;
		line-height: $lh;
		transition: all .2s linear;
		&:hover {
			opacity: 0.8;
		}
	}
	&__content {
		width: 57%;
		position: relative;
		&:before {
			content: "";
			width: 165px;
			height: 79px;
			background: url("../images/dots-purple.svg") top left no-repeat;
			background-size: contain;
			position: absolute;
			top: -32px;
			left: -44px;
			z-index: 1;
			pointer-events: none;
		}
		&-box {
			border-radius: 3px;
			overflow: hidden;
			>* {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	&__tabs-nav {
		a {
			display: inline-block;
			font-family: $ffsf;
			font-size: 18px;
			font-weight: 500;
			color: $dgray;
			line-height: $lh;
			padding-bottom: 8px;
			position: relative;
			margin-right: 50px;
			transition: all .2s linear;
			@media(max-width: 1920px) {
				@include adaptiv-font(18, 10);
			}
			&:last-child {
				margin-right: 0;
			}
			&:after {
				content: "";
				width: 100%;
				height: 2px;
				background-color: #929EFF;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 1;
				transition: all .3s linear;
				opacity: 0; 
			}
			&.active {
				color: $bl;
				&:after {
					opacity: 1;
				}
			}
		}
		&_many {
			a {
				width: calc(50% - 15px);
				margin-right: 0;
				padding-bottom: 0;
				&:after {
					display: none;
				}
				&:nth-child(odd) {
					margin-right: 15px;
				}
				span {
					max-width: 100%;
					position: relative;
					padding-bottom: 8px;
					display: inline-block;
					&:after {
						content: "";
						width: 100%;
						height: 2px;
						background-color: #929EFF;
						position: absolute;
						bottom: 0;
						left: 0;
						z-index: 1;
						transition: all .3s linear;
						opacity: 0; 
					}
				}
				&.active {
					span {
						&:after {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	.video-content {
		&:before {
			display: none;
		}
	}
	&.customer-bottom {
		&:before {
			top: 45%;
		}
		&:after {
			top: auto;
			bottom: 0;
		}
		.customer__header {
			margin-bottom: -95px;
		}
		.customer__info {
			padding-top: 105px;
			padding-bottom: 120px;
		}
		.customer__title {
			margin-bottom: 30px;
		}
		.customer__subtitle {
			margin-bottom: 15px;
		}
		.customer__navbox {
			position: relative;
		}
		.customer__tabs-nav {
			width: 43%;
			padding-right: 25px;
			transform: translateY(-100%);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			flex-wrap: wrap;
			margin-bottom: -15px;
			margin-top: 15px;
			a {
				margin-bottom: 15px;
			}
		}
	}
}
/*============/customer==============*/

/*=============Get-call============*/
.get-call {
	margin-bottom: 70px;
	background-color: $bl2;
	padding: 100px 0;
	position: relative;
	z-index: 1;
	&:before {
		content: "";
		width: 100%;
		height: 180%;
		background: linear-gradient(90deg, #52F1FF -10.94%, #FF0EFF 104.02%);
		opacity: 0.05;
		position: absolute;
		bottom: 100%;
		left: 0;
		z-index: -1;
	}
	&__inner {
		display: flex;
		align-items: center;
		@media(min-width: 992px) {
			padding: 0 45px;
		}
	}
	&__info {
		width: 50%;
		padding-right: 50px;
		position: relative;
		z-index: 1;
		&:before {
			content: "";
			width: 286px;
			height: 185px;
			background: url("../images/logo-decor.svg") center no-repeat;
			background-size: contain;
			position: absolute;
			top: -42px;
			left: -44px;
			z-index: -1;
		}
	}
	&__title {
		font-family: $ffsf;
		font-size: 36px;
		font-weight: 600;
		color: $wh;
		line-height: 1.4;
		@media(max-width: 1920px) {
			@include adaptiv-font(36, 28);
		}
	}
	&__form {
		width: 50%;
		position: relative;
		z-index: 2;
		form {
			position: relative;
		}
		input {
			width: 100%;
			display: block;
			background-color: $wh;
			padding: 20px 192px 20px 117px;
			border-radius: 3px;
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 400;
			color: $black;
			line-height: $lh;
			&::placeholder {
				opacity: 0.2;
			}
		}
		button {
			height: calc(100% - 6px);
			min-width: 34%;
			position: absolute;
			top: 50%;
			right: 3px;
			transform: translateY(-50%);
			z-index: 1;
		}
	}
	&__country {
		position: absolute;
		top: 50%;
		left: 17px;
		transform: translateY(-50%);
		z-index: 1;
		display: flex;
		align-items: center;
		span {
			display: inline-block;
			margin-left: 15px;
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 400;
			color: $black;
			line-height: $lh;
		}
	}
	&_no-bg {
		&:before {
			display: none;
		}
	}
}
/*=============/get-call============*/

/*=============Innovative============*/
.innovative {
	margin-bottom: 160px;
	position: relative;
	z-index: 1;
	&:after {
		content: "";
		width: 114px;
		height: 113px;
		background: url("../images/decor-wave.svg") center no-repeat;
		background-size: contain;
		position: absolute;
		bottom: -50px;
		right: -47px;
		z-index: -1;
	}
	&__tabs {
		margin-top: 40px;
		display: flex;
		border-radius: 5px;
		&-nav {
			flex: 0 0 315px;
			width: 315px;
			display: flex;
			flex-direction: column;
			position: relative;
			z-index: 1;
			&:before {
				content: "";
				width: 315px;
				height: 12.5%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				transition: all .3s linear;
				border-radius: 5px 0 0 5px;
			}
			a {
				padding: 25px 28px;
				height: 12.5%;
				border-radius: 5px 0px 0px 5px;
				color: $lblack;
				font-family: $ffsf;
				font-size: 18px;
				font-weight: 500;
				line-height: $lh;
				position: relative;
				display: flex;
				align-items: center;
				z-index: 2;
			}
		}
	}
	&__tab {
		border-radius: 5px;
	}
	&__box {
		padding: 20px;
	}
	&__content {
		background-color: inherit;
		margin-bottom: 30px;
		border-radius: 3px;
		overflow: hidden;
		position: relative;
		z-index: 10;
		>* {
			width: 100%;
			height: 100%;
			min-height: 300px;
			object-fit: cover;
		}
	}
	&__info {
		padding: 0 15px;
		font-family: $ffsf;
		font-size: 18px;
		font-weight: 500;
		color: $lblack;
		line-height: $lh-big;
	}
}


#color_1 {
	.innovative__tab {
		background-color: #F9F8FF;
	}
  	.innovative__tabs-nav {
    	a.t1 {
    	  color: #5E6FF9;
    	}
    	&:before {
    	  top: 0;
    	  background-color: #F9F8FF;
    	}
  	}
}

#color_2 {
  	.innovative__tab {
		background-color: #F7F6FE;
	}
  	.innovative__tabs-nav {
    a.t2 {
    	  color: #8930FD;
    	}
    	&:before {
    	  top: 12.5%;
    	  background-color: #F7F6FE;
    	}
  	}
}

#color_3 {
	.innovative__tab {
		background-color: #F0FBF8;
	}
  	.innovative__tabs-nav {
  	  a.t3 {
  	    color: $green;
  	  }
  	  &:before {
  	    top: 25%;
  	    background-color: #F0FBF8;
  	  }
  	}
}

#color_4 {
	.innovative__tab {
		background-color: #EDFAFE;
	}
  	.innovative__tabs-nav {
  	  a.t4 {
  	    color: $blue;
  	  }
  	  &:before {
  	    top: 37.5%;
  	    background-color: #EDFAFE;
  	  }
  	}
}

#color_5 {
	.innovative__tab {
		background-color: #F9F8FF;
	}
  	.innovative__tabs-nav {
  	  	a.t5 {
  	  	  color: #5E6FF9;
  	  	}
  	  	&:before {
  	  	  top: 50%;
  	  	  background-color: #F9F8FF;
  	  	}
  	}
}

#color_6 {
	.innovative__tab {
		background-color: #F7F6FE;
	}
  	.innovative__tabs-nav {
  	  	a.t6 {
  	  	  color: #8930FD;
  	  	}
  	  	&:before {
  	  	  top: 62.5%;
  	  	  background-color: #F7F6FE;
  	  	}
  	}
}

#color_7 {
	.innovative__tab {
		background-color: #F0FBF8;
	}
  	.innovative__tabs-nav {
  	  	a.t7 {
  	  	  color: $green;
  	  	}
  	  	&:before {
  	  	  top: 75%;
  	  	  background-color: #F0FBF8;
  	  	}
  	}
}

#color_8 {
	.innovative__tab {
		background-color: #FFF8FB;
	}
  	.innovative__tabs-nav {
  	  	a.t8 {
  	  	  color: #FD71AF;
  	  	}
  	  	&:before {
  	  	  top: 87.5%;
  	  	  background-color: #FFF8FB;
  	  	}
  	}
}



/*============/innovative============*/

/*===========Advantages=============*/
.advantages {
	margin-bottom: 132px;
	.subtitle-block {
		max-width: 720px;
	}
	&__inner {
		margin-top: 105px;
		display: flex;
		flex-wrap: wrap;
		margin-left: -54px;
		margin-bottom: -70px;
		>* {
			width: calc(33.33333% - 54px);
			margin-left: 54px;
			margin-bottom: 70px;
		}
	}
	&-box {
		display: flex;
		&__icon {
			width: 80px;
			height: 80px;
			flex: 0 0 80px;
			margin-right: 36px;
			border-radius: 10px;
			background-color: $wh;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				max-width: 50%;
			}
			&.shadow {
				&-pink {
					box-shadow: 0px 23px 28px 8px rgba(253, 113, 175, 0.1);
				}
				&-purple {
					box-shadow: 0px 23px 28px 8px rgba(137, 48, 253, 0.1);
				}
				&-green {
					box-shadow: 0px 23px 28px 8px rgba(46, 189, 151, 0.1);
				}
				&-blue {
					box-shadow: 0px 23px 28px 8px rgba(43, 195, 247, 0.1);
				}
				&-black {
					box-shadow: 0px 23px 28px 8px rgba(91, 94, 111, 0.1);
				}
				&-yellow {
					box-shadow: 0px 23px 28px 8px rgba(255, 181, 38, 0.1);
				}
			}
			&-check {
				width: 32px;
				height: 32px;
				flex: 0 0 32px;
				margin-right: 12px;
				margin-top: 4px;
			}
		}
		&__title {
			font-family: $ffsf;
			font-size: 24px;
			font-weight: 500;
			color: $black;
			line-height: $lh-big;
			margin-bottom: 5px;
		}
		&__text {
			font-family: $ffsf;
			font-size: 18px;
			font-weight: 500;
			color: $lblack;
			line-height: $lh-big;
		}
		&__list {
			li {
				font-family: $ffsf;
				font-size: 18px;
				font-weight: 500;
				color: $lblack;
				line-height: $lh-big;
				&:before {
					content: "• ";
				}
			}
		}	
	}
}
/*===========/advantages=============*/

/*==============Preference==============*/
.preference {
	margin-bottom: 70px;
	background-color: $bl2;
	padding: 50px 0;
	&__inner {
		display: flex;
		justify-content: center;
	}
	&__item {
		flex: 0 0 230px;
		max-width: 230px;
		text-align: center;
		margin-right: 170px;
		&:last-child {
			margin-right: 0;
		}
		&:nth-child(2) {
			.preference__icon {
				&:before {
					background-color: $blue;
				}
			}
		}
		&:nth-child(3) {
			.preference__icon {
				&:before {
					background-color: $green;
				}
			}
		}
	}
	&__icon {
		margin: 0 auto 30px;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 1;
		&:before {
			content: "";
			width: 100%;
			height: 100%;
			background-color: #929EFF;
			opacity: 0.1;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}
		img {
			max-width: 67%;
		}
	}
	&__text {
		font-family: $ffsf;
		font-size: 24px;
		font-weight: 500;
		color: $wh;
		line-height: 1.4;
		text-align: center;
	}
}
/*==============/preference==============*/

/*=============Advantages-ai=========*/
.advantages-ai {
	margin-bottom: 135px;
	.subtitle-block {
		max-width: 720px;
	}
	&__inner {
		margin-top: 64px;
		display: flex;
		align-items: center;
	}
	&__boxes {
		width: 58%;
		padding-right: 48px;
		display: flex;
		flex-wrap: wrap;
		margin-left: -35px;
		margin-bottom: -94px;
		>* {
			width: calc(50% - 35px);
			margin-left: 35px;
			margin-bottom: 94px;
		}
	}
	&__photo {
		width: 42%;
		img {
			max-width: 100%;
		}
	}
}
/*============/advantages-ai========*/

/*============Advantages-check========*/
.advantages-check {
	margin-bottom: 20px;
	.title-block {
		max-width: 560px;
	}
	.subtitle-block {
		max-width: 720px;
	}
	&__inner {
		margin-top: 75px;
		display: flex;
		margin-left: -95px;
		@media(min-width: 1400px) {
			padding: 0 40px;
		}
		>* {
			width: calc(33.33333% - 95px);
			margin-left: 95px;
		}
	}
}
/*============/advantages-check========*/

/*==================Contact-us==========*/
.contact-us {
	margin-bottom: 50px;
	&__box {
		background-color: $bl2;
		border-radius: 5px;
		padding: 48px 120px 68px;
		position: relative;
		z-index: 1;
		&:before {
			content: "";
			width: 165px;
			height: 79px;
			background: url("../images/dots-black.svg") center no-repeat;
			background-size: contain;
			position: absolute;
			top: 32px;
			left: 32px;
			z-index: -1;
		}
	}
	.title-block {
		color: $wh;
		margin-bottom: 40px;
	}
	&-form {
		&__inner {
			display: flex;
			flex-wrap: wrap;
			margin-left: -50px;
		}
		&__item {
			width: calc(50% - 50px);
			margin-left: 50px;
			margin-bottom: 40px;
			&-full {
				width: calc(100% - 50px);
			}
		}
		input, textarea {
			display: block;
			width: 100%!important;
			background-color: $wh;
			border-radius: 3px;
			padding: 17px 23px;
			font-family: $ffsf;
			font-size: 16px;
			width: 400px;
			color: $black;
			line-height: $lh;
			&::placeholder {
				opacity: 0.2;
			}
		}
		textarea {
			height: 142px;
			resize: none;
		}
		label {
			display: inline-block;
			margin-bottom: 11px;
			font-family: $ffsf;
			font-size: 18px;
			font-weight: 500;
			color: $wh;
			line-height: $lh-big;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}
		&__foot {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
		&__agree {
			max-width: 632px;
			margin-right: 30px;
			position: relative;
			label {
				display: flex;
				cursor: pointer;
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
				span {
					width: 24px;
					height: 24px;
					flex: 0 0 24px;
					border: 2px solid $wh;
					border-radius: 50%;
					margin-right: 20px;
					margin-left: 4px;
					margin-top: 4px;
					position: relative;
					&:after {
						content: "";
						width: 11px;
						height: 7px;
						background: url("../images/check.svg") center no-repeat;
						background-size: contain;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						z-index: 1;
						opacity: 0;
						transition: all .2s linear;
					}
				}
				i {
					font-family: $ffsf;
					font-size: 18px;
					font-weight: 500;
					font-style: normal;
					color: #BDBDBD;
					line-height: $lh-big;
					a {
						color: #BDBDBD;
						transition: all .2s linear;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
			input {
				width: 24px!important;
				height: 24px;
				position: absolute;
				top: 4px;
				left: 4px;
				z-index: 1;
				opacity: 0;
				pointer-events: none;
				&:checked + label {
					span {
						&:after {
							opacity: 1;
						}
					}
				}
			}
		}
		.btn-gradient {
			padding: 20px 67.5px;
		}
	}
}
/*=================/contact-us==========*/

/*==================Blog==================*/
.blog {
	&-category {
		font-family: $ffsf;
		font-size: 16px;
		font-weight: 500;
		color: $purple;
		line-height: $lh;
		a {
			color: $purple;
		}
	}
	&-autor {
		display: flex;
		&__icon {
			margin-right: 16px;
			display: block;
			width: 42px;
			height: 42px;
			flex: 0 0 42px;
			border-radius: 50%;
			img {
				width: 42px;
				height: 42px;
				object-fit: cover;
				border-radius: 50%;
			}
			&_two {
				flex: 0 0 62px;
				width: 62px;
				display: flex;
				img {
					&:nth-child(2) {
						margin-left: -20px;
					}
				}
			}
		}
		&__name {
			display: inline-block;
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 500;
			color: #12151E;
			line-height: $lh;
			margin-bottom: 4px;
		}
		&__data {
			font-family: $ffsf;
			font-size: 14px;
			font-weight: 400;
			color: $dgray;
			line-height: $lh;
			span {
				&:after {
					content: " • ";
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
			}
		}
	}
	&-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px 12px;
		border: 1px solid rgba(75, 80, 99, 0.25);
		border-radius: 3px;
		transition: all .2s linear;
		min-width: 42px;
		height: 42px;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
		span {
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 400;
			line-height: $lh;
			color: $dgray;
			margin-left: 7px;
			&:first-child {
				margin-left: 0;
			}
		}
		&:hover {
			border-color: $dgray;
		}
	}
	&-search {
		margin-bottom: 30px;
		position: relative;
		input {
			width: 100%;
			display: block;
			border: 1px solid rgba(75, 80, 99, 0.25);
			border-radius: 3px;
			padding: 9px 9px 9px 50px;
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 400;
			color: $dgray;
			line-height: $lh;
			transition: all .2s linear;
			&::placeholder {
				opacity: 1;
				color: $dgray;
			}
			&:focus {
				border-color: $dgray;
			}
		}
		button {
			background-color: transparent;
			position: absolute;
			top: 50%; 
			left: 9px;
			transform: translateY(-50%);
			z-index: 1;
		}
	}
	&-nav {
		&__title {
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 500;
			color: $dgray;
			line-height: $lh;
			margin-bottom: 15px;
		}
		&__link {
			display: block;
			padding: 12px 20px;
			border-radius: 3px;
			transition: all .2s linear;
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 500;
			color: $black;
			line-height: $lh;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&:hover {
				background-color: #F9F9FB;
			}
			&.active {
				background-color: #F9F9FB;
			}
		}
	}
	&-chapter {
		&__title {
			font-family: $ffsf;
			font-size: 24px;
			font-weight: 500;
			color: $bl;
			line-height: $lh-big;
			margin-bottom: 25px;
		}
	}
}/*==/blog==*/

/*===========Blog-list==========*/
.blog-list {
	&:first-child {
		margin-top: 30px;
	}
	.title-block {
		margin-bottom: 40px;
	}
	&__inner {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -20px;
		margin-left: -20px;
		.blog-box {
			width: calc(33.33333% - 20px);
			margin-left: 20px;
			margin-bottom: 20px;
		}
		.blog-box_big {
			width: calc(100% - 20px);
			margin-left: 20px;
			margin-bottom: 20px;
		}
	}
}
/*==========/blog-list==========*/

/*===========Blog-box===========*/
.blog-box {
	&_big  {
		display: flex;
		align-items: center;
		.blog-box__photo {
			display: block;
			margin-bottom: 0;
			width: 66.66667%;
			img {
				width: 100%;
				max-height: 100%;
				border-radius: 3px;
			}
		}
		.blog-box__info {
			width: calc(33.33333% - 20px);
			margin-left: 20px;
		}
	}
	&__photo {
		display: block;
		margin-bottom: 15px;
		img {
			width: 100%;
			max-height: 240px;
			border-radius: 3px;
			object-fit: cover;
		}
	}
	&__category {
		margin-bottom: 15px;
	}
	&__title {
		font-family: $ffsf;
		font-size: 20px;
		font-weight: 500;
		color: $bl;
		line-height: $lh-big;
		margin-bottom: 15px;
		a {
			color: $bl;
			&:hover {
				color: $purple;
			}
		}
	}
	&__text {
		font-family: $ffsf;
		font-size: 16px;
		font-weight: 400;
		color: $dgray;
		line-height: $lh-big;
		margin-bottom: 15px;
	}
}
/*==========/blog-box===========*/

/*==========Blog-article========*/
.blog-article {
	&__header {
		text-align: center;
		max-width: 600px;
		margin: 0 auto 30px;
	}
	&__title {
		font-family: $ffsf;
		font-size: 40px;
		font-weight: 500;
		color: $black;
		line-height: $lh;
		margin: 20px 0;
	}
	&__subtitle {
		font-family: $ffsf;
		font-size: 20px;
		font-weight: 400;
		color: $dgray;
		line-height: $lh;
	}
	&__photo {
		img {
			width: 100%;
			border-radius: 3px;
		}
	}
	&__info {
		margin-top: 20px;
		margin-bottom: 36px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__links {
		display: flex;
	}
	&__inner {
		display: flex;
	}
	&__search {
		width: 32%;
	}
	&__content {
		width: 68%;
		padding-left: 20px;
	}
	&__chapter {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__text {
		font-family: $ffsf;
		font-size: 16px;
		font-weight: 400;
		color: $bl;
		line-height: $lh-big;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
		span {
			color: $purple;
		}
		p {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__indent {
		font-family: $ffsf;
		font-size: 16px;
		font-weight: 500;
		color: $bl;
		line-height: $lh-big;
		margin-bottom: 20px;
		padding-left: 25px;
		position: relative;
		&:before {
			content: "";
			width: 5px;
			height: 100%;
			background: linear-gradient(180deg, #52F1FF 0%, #FF0EFF 100%);
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
/*=========/blog-article========*/

/*=================/blog==================*/

/*=============Subscribe===========*/
.subscribe {
	margin: 50px 0;
	&__inner {
		background-color: $bl2;
		border-radius: 3px;
		display: flex;
		align-items: center;
		padding: 75px 75px 75px 100px;
	}
	&__info {
		width: 55%;
		padding-right: 10%;
		position: relative;
		z-index: 1;
		&:before {
			content: "";
			width: 48%;
			height: 115%;
			background: url("../images/logo-decor.svg") center no-repeat;
			background-size: contain;
			position: absolute;
			top: -10px;
			left: -44px;
			z-index: -1;
		}
	}
	&__form {
		width: 45%;
		position: relative;
		input {
			display: block;
			width: 100%;
			background-color: $wh;
			border-radius: 3px;
			padding: 17px 185px 17px 23px;
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 400;
			line-height: $lh;
			color: $black;
			&::placeholder {
				opacity: 0.4;
			}
		}
		button {
			background: linear-gradient(93.26deg, #929EFF -0.54%, #EF24FF 96.74%);
			border-radius: 2px;
			padding: 14px 32px;
			font-family: $ffsf;
			font-size: 16px;
			font-weight: 600;
			color: $wh;
			line-height: $lh;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 3px;
			z-index: 1;
			transition: all .2s linear;
			&:hover {
				background: linear-gradient(-93.26deg, #929EFF -0.54%, #EF24FF 96.74%);
			}
		}
	}
	&__title {
		font-family: $ffsf;
		font-size: 36px;
		font-weight: 600;
		color: $wh;
		line-height: $lh-big;
		margin-bottom: 25px;
	}
	&__description {
		font-family: $ffsf;
		font-size: 16px;
		font-weight: 400;
		color: $wh;
		line-height: $lh-big;
	}
}
/*============/subscribe===========*/

/*===============About==============*/
.about {
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 10.04%), linear-gradient(90deg, #F7FDFF 0%, #FFF3FF 100%);
	padding: 68px 0 135px;
	&__box {
		display: flex;
		align-items: center;
		margin-left: -105px;
		margin-bottom: 100px;
		&:last-child {
			margin-bottom: 0;
		}
		>* {
			margin-left: 105px;
		}
	}
	&__info {
		width: calc(38% - 105px);
	}
	&__title {
		margin-bottom: 40px;
		font-family: $ffsf;
		font-size: 36px;
		font-weight: 600;
		color: $black;
		line-height: $lh;
		@media(max-width: 1920px) {
			@include adaptiv-font(36, 20);
		}
	}
	&__text {
		font-family: $ffsf;
		font-size: 18px;
		font-weight: 6500;
		color: $lblack;
		line-height: $lh-big;
		@media(max-width: 1920px) {
			@include adaptiv-font(18, 14);
		}
		p {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__list {
		margin-top: 30px;
		li {
			&:before {
				content: "• ";
			}
		}
		&:first-child {
			margin-top: 0;
		}
	}
	&__video {
		width: calc(62% - 105px);
		.video-content {
			&:before {
				display: none;
			}
		}
	}
}
/*==============/about==============*/

/*==============Adaptive============*/
@media(max-width: 1500px) {
	.opening {
		padding: 60px 0 80px;
		&-photo {
			width: 71%;
			margin-right: -20%;
		}
		.subtitle {
			font-size: 18px;
		}
		&-finance {
			&-box {
				&:before {
					display: none;
				}
			}
		}
		&-pages {
			&-box {
				&:after, &:before {
					display: none;
				}
			}
		}
	}
}
@media(max-width: 1400px) {
	.opening {
		&__video {
			width: 44%;
			margin-right: 0;
		}
		&-finance {
			&-box {
				padding: 100px 0;
			}
		}
		&-healthcare {
			&-box {
				padding: 70px 0 100px;
			}
			.opening__img {
				width: 57.5%;
				margin-right: 0;
			}
		}
		&-e-commerce {
			&-box {
				padding: 70px 0 100px;
			}
			.opening__img {
				width: 61%;
				margin-right: -15%;
			}
		}
		&-telecom {
			&-box {
				padding: 70px 0 100px;
			}
			.opening__img {
				width: 53%;
				margin-left: -7%;
				margin-right: 0;
			}
		}
		&-travel {
			&-box {
				padding: 70px 0 100px;
			}
			.opening__img {
				width: 70%;
				margin-left: -12%;
				margin-right: -12%;
			}
		}
	}
}
@media(max-width: 1200px) {
	.opening {
		&:after {
			width: 100px;
			bottom: 15px;
		}
		&-photo {
			&:after {
				width: 100px;
				right: 20%;
				top: -20px;
				transform: rotate(90deg) translateY(-110%);
			}
		}
	}
	.customer {
		&-box {
			padding: 60px 40px;
		}
		&__info {
			padding-right: 30px;
			padding-top: 170px;
		}
		&__title, &__subtitle {
			margin-bottom: 20px;
		}
		&.customer-bottom {
			.customer__title {
				margin-bottom: 20px;
			}
		}
	}
	.advantages {
		&__inner {
			margin-top: 70px;
			>* {
				width: calc(50% - 54px);
			}
		}
	}
	.preference {
		&__inner {
			justify-content: space-around;
		}
		&__item {
			margin-right: 30px;
		}
	}
	.advantages-ai {
		&__inner {
			flex-direction: column;
		}
		&__boxes {
			width: 100%;
			padding-right: 0;
			margin-bottom: 0;
			>* {
				margin-bottom: 60px;
			}
		}
		&__photo {
			text-align: center;
			width: 100%;
		}
	}
	.about {
		&__box {
			margin-bottom: 50px;
			margin-left: -30px;
			>* {
				margin-left: 30px;
			}
		}
		&__info {
			width: calc(40% - 30px);
		}
		&__title {
			margin-bottom: 20px;
		}
		&__text {
			p {
				margin-bottom: 15px;
			}
		}
		&__list {
			margin-top: 15px;
		}
		&__video {
			width: calc(60% - 30px);
		}
	}
}
@media(max-width: 1024px) {
	.blog {
		&-box {
			&_big {
				align-items: stretch;
				.blog-box__photo {
					width: 50%;
					img {
						height: 100%;
						object-fit: cover;
					}
				}
				.blog-box__info {
					width: calc(50% - 20px);
				}
			}
			&__title {
				font-size: 16px;
				margin-bottom: 10px;
			}
			&__text {
				font-size: 14px;
			}
		}
		&-autor {
			&__name {
				font-size: 14px;
			}
			&__icon {
				margin-right: 12px;
			}
		}
	}
}

@media(max-width: 992px) {
	.contact-us {
		&__box {
			padding: 48px;
		}
	}
	.subscribe {
		&__inner {
			display: block;
		}
		&__info {
			width: 100%;
			padding-right: 0;
			margin-bottom: 40px;
		}
		&__form {
			width: 100%;
		}
	}
	.advantages-check {
		&__inner {
			margin-left: -50px;
			flex-wrap: wrap;
			margin-bottom: -25px;
			>* {
				margin-left: 50px;
				width: calc(50% - 50px);
				margin-bottom: 25px;
			}
		}
	}
}

@media(max-width: 860px) {
	.title-block {
		font-size: 36px;
	}
	.mb-100 {
		margin-bottom: 50px!important;
	}
	.video-content {
		&:before {
			width: 100px;
			left: -30px;
		}
		&__icon {
			svg {
				width: 40px;
				height: 40px;
			}
		}
	}
	.opening {
		&-finance {
			.opening__info {
				padding-right: 40px;
			}
		}
	}
	.use {
		&__item {
			margin-right: 30px;
			width: calc(33.33333% - 13.33333px);
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.customer {
		&-box {
			padding: 40px;
			&__title {
				margin-bottom: 30px;
			}
		}
		&__header {
			margin-bottom: 20px;
		}
		&__inner {
			flex-direction: column;
		}
		&__info {
			width: 100%;
			padding-right: 0;
			margin-bottom: 40px;
			padding-top: 0;
		}
		&__content {
			width: 100%;
		}
		&__tabs {
			&-nav {
				a {
					font-size: 20px;
				}
				/*&_many {
					a {
						width: auto;
						margin-right: 30px;	
						&:nth-child(odd) {
							margin-right: 30px;	
						}
					}
				}*/
			}
		}
		&.customer-bottom {
			.customer__header {
				margin-bottom: 20px;
			}
			.customer__info {
				padding-top: 0;
				padding-bottom: 0;
			}
			.customer__tabs-nav {
				position: static;
				transform: translate(0);
				margin-top: 40px;
			}
			.customer__tabs-nav {
				width: 100%;
				padding-right: 0;
			}
		}
	}
	.get-call {
		padding: 60px 0;
		&__inner {
			flex-direction: column;
		}
		&__info {
			width: 100%;
			padding-right: 0;
			margin-bottom: 30px;
		}
		&__form {
			width: 100%;
		}
	}
	.advantages {
		margin-bottom: 70px;
		&-box {
			&__title {
			font-size: 20px;
			}
			&__text {
				font-size: 16px;
			}
			&__list {
				li {
					font-size: 16px;
				}
			}
		}
	}
	.advantages-ai {
		margin-bottom: 70px;
	}
}

@media(max-width: 765px) {
	.subtitle-block {
		font-size: 14px;
	}
	.opening {
		padding: 30px 0 50px;
		&:before {
			display: none;
		}
		&:after {
			width: 70px;
			height: 34px;
		}
		&__inner {
			display: block;
		}
		&__info {
			width: 100%;
		}
		&-photo {
			width: 100%;
			margin-top: 40px;
			margin-left: 0;
			margin-right: 0;
			transform: translateX(10%);
			&:after {
				width: 70px;
				top: -35px;
				transform: rotate(90deg) translateY(-75%);
			}
		}
		&__video {
			width: 100%;
			margin-top: 40px;
		}
		&-finance {
			&-box {
				padding: 60px 0 70px;
			}
			.opening__info {
				width: 100%;
				padding-right: 0;
			}
		}
		&-healthcare {
			&-box {
				padding: 30px 0 70px;
			}
			.opening__info {
				width: 100%;
				margin-bottom: 40px;
			}
			.opening__img {
				width: 100%;
			}
		}
		&-e-commerce {
			&-box {
				padding: 30px 0 70px;
			}
			.opening__info {
				width: 100%;
				margin-bottom: 40px;
			}
			.opening__img {
				width: 140%;
				margin-right: -40%;
			}
		}
		&-telecom {
			&-box {
				padding: 30px 0 70px;
			}
			.opening__info {
				width: 100%;
				margin-bottom: 40px;
			}
			.opening__img {
				width: 107%;
				margin-left: -7%;
			}
		}
		&-travel {
			&-box {
				padding: 30px 0 70px;
			}
			.opening__info {
				width: 100%;
				margin-bottom: 40px;
			}
			.opening__img {
				width: 124%;
			}
		}
	}
	.use {
		margin-bottom: 50px;
	}
	.customer {
		margin-bottom: 50px;
		&-box {
			padding: 30px;
			&__title {
				margin-bottom: 30px;
			}
			&_green {
				.customer__content {
					&:before {
						height: 100px;
						width: 48px;
						left: 10px;
						bottom: -15px;
					}
				}
			}
			&_blue {
				.customer__content {
					&:before {
						left: auto;
						right: 10px;
						top: -25px;
					}
				}
			}
		}
		&__info {
			margin-bottom: 40px;
		}
		&__content {
			&:before {
				width: 100px;
				top: -20px;
				left: -10px;
			}
		}
		&__tabs-nav {
			&_many {
				a {
					@include adaptiv-font(20, 12);
				}
			}
		}
		&.customer-bottom {
			.customer__tabs-nav {
				margin-bottom: -10px;
				a {
					margin-bottom: 10px;
				}
			}
		}
	}
	.innovative {
		margin-bottom: 70px;
		&__tabs {
			display: block;
			-ms-overflow-style: none;
    		scrollbar-width: none;
    		&::-webkit-scrollbar {
    		 	width: 0;
    		 	height: 0;
    		}
			&-nav {
				width: calc(100% + 30px);
				overflow: auto;
				flex: 1 1 auto;
				flex-direction: row;
				margin: 0 -15px;
				&:before {
					display: none;
				}
				a {
					white-space: nowrap;
					font-size: 12px;
					padding: 25px 15px;
					height: auto;
					display: block;
					&:before {
						content: "";
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						z-index: -1;
						border-radius: 5px 5px 0 0;
						transition: all .3s linear;
					}
				}
			}
		}
		&__tab {
			border-radius: 0;
			margin: 0 -15px;
		}
		&__box {
			padding: 15px;
		}
		&__content {
			margin-bottom: 20px;
		}
		&__info {
			font-size: 14px;
		}
	}
	#color_1 {
	  	.innovative__tabs-nav {
	    	a.t1 {
	    		&:before {
	    	  		background-color: #F9F8FF;
	    		}
	    	}
	  	}
	}
	
	#color_2 {
	  	.innovative__tabs-nav {
	    	a.t2 {
	    		&:before {
	    	  		background-color: #F7F6FE;
	    		}
	    	}
	  	}
	}
	
	#color_3 {
	  	.innovative__tabs-nav {
	  	  	a.t3 {
	  	  	  	&:before {
	    	  		background-color: #F0FBF8;
	    		}
	  	  	}
	  	}
	}
	
	#color_4 {
	  	.innovative__tabs-nav {
	  	  	a.t4 {
	  	  	  	&:before {
	    	  		background-color: #EDFAFE;
	    		}
	  	  	}
	  	}
	}
	
	#color_5 {
	  	.innovative__tabs-nav {
	  	  	a.t5 {
	  	  	  	&:before {
	    	  		background-color: #F9F8FF;
	    		}
	  	  	}
	  	}
	}
	
	#color_6 {
	  	.innovative__tabs-nav {
	  	  	a.t6 {
	  	  	  	&:before {
	    	  		background-color: #F7F6FE;
	    		}
	  	  	}
	  	}
	}
	
	#color_7 {
	  	.innovative__tabs-nav {
	  	  	a.t7 {
	  	  	  	&:before {
	    	  		background-color: #F0FBF8;
	    		}
	  	  	}
	  	}
	}
	
	#color_8 {
	  	.innovative__tabs-nav {
	  	  	a.t8 {
	  	  	  	&:before {
	    	  		background-color: #FFF8FB;
	    		}
	  	  	}
	  	}
	}


	.get-call {
		margin-bottom: 50px;
	}
	.advantages {
		margin-bottom: 50px;
		&-box {
			&__icon {
				width: 60px;
				height: 60px;
				flex: 0 0 60px;
				margin-right: 15px;
			}
		}
	}
	.preference {
		margin-bottom: 50px;
		&__inner {
			flex-direction: column;
			align-items: center;
		}
		&__item {
			margin-right: 0;
			margin-bottom: 40px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.advantages-ai {
		margin-bottom: 50px;
	}
	.contact-us {
		&-form {
			&__foot {
				flex-direction: column;
				align-items: center;
			}
			&__agree {
				max-width: 100%;
				margin-right: 0;
			}
		}
	}
	.blog {
		&-list {
			&__inner {
				margin-left: 0;
				.blog-box {
					width: 100%;
					margin-left: 0;
				}
				.blog-box_big {
					margin-left: 0;
				}
			}
		}
		&-box {
			&__photo {
				img {
					max-height: 100%;
				}
			}
			&_big {
				display: block;
				.blog-box__photo {
					width: 100%;
					margin-bottom: 15px;
				}
				.blog-box__info {
					width: 100%;
					margin-left: 0;
				}
			}
		}
		&-article {
			&__header {
				margin-bottom: 20px;
			}
			&__title {
				font-size: 28px;
				margin-bottom: 15px;
			}
			&__subtitle {
				font-size: 16px;
			}
			&__inner {
				flex-direction: column;
			}
			&__search {
				width: 100%;
				margin-bottom: 20px;
			}
			&__content {
				width: 100%;
				padding-left: 0;
			}
			&__text, &__indent {
				font-size: 14px;
			}
		}
		&-chapter {
			&__title {
				margin-bottom: 15px;
				font-size: 20px;
			}
		}
	}
	.subscribe {
		&__inner {
			padding: 35px;
		}
		&__info {
			&:before {
				width: 180px;
				height: 117px;
				left: -35px;
			}
		}
		&__title {
			font-size: 28px;
			margin-bottom: 15px;
		}
	}
	.about {
		padding: 20px 0 50px;
		&__box {
			margin-left: 0;
			flex-direction: column;
			>* {
				margin-left: 0;
			}
			&_reverse {
				flex-direction: column-reverse;
			}
		}
		&__info {
			width: 100%;
			margin-bottom: 20px;
		}
		&__video {
			width: 100%;
		}
	}
}

@media(max-width: 546px) {
	.title-block {
		font-size: 28px;
	}
	.breadcrumbs {
		&__back {
			margin-bottom: 10px;
		}
	}
	.use {
		&__inner {
			margin-top: 40px;
		}
		.title-block {
			font-size: 28px;
		}
		&__name {
			font-size: 14px;
		}
	}
	.customer {
		&:before, &:after {
			display: none;
		}
	}
	.advantages {
		&__inner {
			margin-top: 50px;
			margin-left: 0;
			margin-bottom: -40px;
			>* {
				margin-left: 0;
				width: 100%;
				margin-bottom: 40px;
			}
		}
	}
	.advantages-ai {
		&__inner {
			margin-top: 40px;
		}
		&__boxes {
			margin-left: 0;
			>* {
				width: 100%;
				margin-left: 0;
				margin-bottom: 35px;
			}
		}
	}
	.advantages-check {
		&__inner {
			margin-left: 0;
			>* {
				margin-left: 0;
				width: 100%;
			}
		}
	}
	.contact-us {
		.title-block {
			margin-bottom: 20px;
		}
		&__box {
			padding: 30px;
			&:before {
				top: 10px;
				left: 10px;
				width: 100px;
				height: 48px;
			}
		}
		&-form {
			&__inner {
				margin-left: 0;
			}
			&__item {
				width: 100%;
				margin-left: 0;
				margin-bottom: 20px;
			}
			label {
				font-size: 16px;
			}
			&__agree {
				label {
					i {
						font-size: 12px;
					}
				}
			}
		}
	}
	.blog {
		&-article {
			&__info {
				margin-bottom: 20px;
				flex-direction: column;
				align-items: flex-start;
			}
			&__links {
				margin-top: 20px;
			}
		}
	}
}

@media(max-width: 414px) {
	.opening {
		.subtitle-block {
			font-size: 14px;
		}
		&__title {
			margin-bottom: 20px;
		}
		&-list {
			margin-left: -20px;
			>* {
				margin-left: 20px;
				width: calc(50% - 20px);
			}
		}
	}
	.use {
		&__inner {
			flex-direction: column;
			align-items: center;
		}
		&__item {
			margin-right: 0;
			width: 100%;
			margin-bottom: 30px;
		}
	}
	.customer {
		&-box {
			padding: 20px 15px;
			&__title {
				font-size: 28px;
			}
		}
		&__subtitle {
			font-size: 16px;
		}
		&__tabs-nav {
			a {
				margin-right: 20px;
			}
			&_many {
				a {
					&:nth-child(even) {
						margin-right: 0;
					}
				}
			}
		}
		&-bottom {
			.customer__info {
				margin-bottom: 20px;
			}
		}
	}
	.subscribe {
		&__inner {
			padding: 20px;
		}
		&__info {
			margin-bottom: 25px;
			&:before {
				left: -20px;
			}
		}
		&__form {
			input {
				font-size: 14px;
				padding: 17px 130px 17px 17px;
			}
			button {
				font-size: 14px;
				padding: 14px;
			}
		}
	}
	.get-call {
		&__country {
			left: 3px;
			img {
				width: 30px;
			}
			span {
				font-size: 14px;
				margin-left: 7px;
				margin-top: -2px;
			}
		}
		&__form {
			input {
				font-size: 14px;
				padding: 17px 150px 17px 78px;
			}
		}
	}
	.preference {
		&__icon {
			width: 120px;
			height: 120px;
		}
		&__text {
			font-size: 20px;
		}
	}
}

@media(max-width: 370px) {
	.get-call {
		button {
			min-width: auto;
			padding: 10px 20px;
		}
		&__form {
			input {
				padding-right: 120px;
			}
		}
	}
	.contact-us {
		&__box {
			padding: 30px 20px;
		}
	}
	.blog {
		&-icon {
			span {
				font-size: 14px;
			}
		}
	}
}
/*=============/adaptive============*/