$ffsf: 'SF Pro Display', sans-serif;
$ffsg: 'Space Grotesk', sans-serif;
$lh: 1.2;
$lh-big: 1.6;
$bl: #000;
$bl2: #0B0D17;
$bl3: #333;
$black: #12151E;
$lblack: #4B5063;
$wh: #fff;
$blue: #4D69A3;
$lblue: #3498DB;
$dblue: #1A429E;
$gray: #A5A5A5;
$lgray: #FDFDFD;
$dgray: #5B5E6F;
$purple: #9747FF;
$d-purple: #8930FD;
$green: #2EBD97;
$blue: #2BC2F6;
$gray2: #7F7F7F;
$gray3: #E9EBEB;
$green2: #27AE60;
$blue2: #4C6EF5;
$red: #E74C3C;

@mixin text-gradient {
	display: inline-block;
	background: linear-gradient(90deg, #52F1FF -10.94%, #FF0EFF 104.02%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	color: #FF0EFF;
}

$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}